<!DOCTYPE html>
<html>
<head>
    <title>IRISCMS FOR YOU</title>
    <link href="/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="/frontend/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/frontend/js/move-top.js"></script>
    <script type="text/javascript" src="/frontend/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<!-- banner -->
<div id="home" class="banner">
    <div class="container">
        <div class="navi">
            <div class="main-in">
                <section>
                    <button id="showLeft" class="navig"></button>
                </section>
            </div>
            <!-- Navigation from left To right -->
            <link rel="stylesheet" type="text/css" href="/frontend/css/component.css" />
            <script src="/frontend/js/modernizr.custom.js"></script>
            <div class="cbp-spmenu-push">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <h3>菜单</h3>
                    <a href="#home" class="scroll">首页</a>
                    <a href="#work" class="scroll">工作</a>
                    <a href="#deving" class="scroll">开发</a>
                </nav>
            </div>
            <script src="/frontend/js/classie.js"></script>
            <script>
                var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
                    showLeft = document.getElementById( 'showLeft' ),
                    body = document.body;

                showLeft.onclick = function() {
                    classie.toggle( this, 'active' );
                    classie.toggle( menuLeft, 'cbp-spmenu-open' );
                    disableOther( 'showLeft' );
                };
                function disableOther( button ) {
                    if( button !== 'showLeft' ) {
                        classie.toggle( showLeft, 'disabled' );
                    }
                }
            </script>
            <!-- Navigation from left To right -->
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="banner-info">
            <h3>IRISCMS</h3>
            <p>一个IrisGo.V7 + XORM + Jquery.EasyUI 的学习项目,已实现基础的后台框架,漂亮的后台界面.</p>
            <p>
                账号 : admin<br/>
                密码 : admin888
            </p>
            <div class="get">
                <a href="/b/index/index" class="hvr-shutter-in-horizontal">去后台</a>
            </div>
        </div>
        <div class="icon-1">
            <a href="#work" class="scroll"><img src="/frontend/images/row.png" alt=" " /></a>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- Work -->
<div id="work" class="portfolio">
    <!-- Portfolio Starts Here -->
    <div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="project">
        <div class="container">
            <div class="portfolio-info">
                <h3>适用场景</h3>
                <p class="para">跨平台,快速开发出想要的CMS项目.使用简单,基于Go语言后台框架,性能卓越.可用于快速建站,如企业站等类似的项目. 开发者可自行扩展功能,比如:微信,商城,BBS,等功能.一次编译到处运行.</span></p>
                <div class="strip">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Work -->

<!-- Work -->
<div id="deving" class="portfolio">
    <!-- Portfolio Starts Here -->
    <div class="portfolios entertain_box  wow fadeInUp" >
        <div class="container">
            <div class="portfolio-info">
                <h3>开发进度</h3>
                <p class="para">
                    权限管理未完成<br/>
                    日志管理未完成<br/>
                    程序错误日志处理未完成<br/>
                    上传到云存储未完成<br/>
                    缓存以及页面缓存(前端开发实现) 不做开发<br/>
                </p>
                <div class="strip">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Work -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="clearfix"> </div>
            <p class="copy">Copyright &copy; 2017.Company name All rights reserved.</p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>