<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="/resume/styles/img/school.jpg" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>许昌职业技术学院</strong>
                        <span>2010 - 2013 | 计算机应用技术 | 大专</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，并参加省级计算机技术比赛获得一等奖</p>
                        <p>国家级移动互联网比赛获得二等奖，省优秀三好学生称号</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->