#popup_container {
	-moz-box-shadow: 1px 1px 10px #5e5e5e;
	-webkit-box-shadow: 1px 1px 10px #5e5e5e;
	background: #fff;
	border: solid 3px #aed0ea;
	box-shadow: 1px 1px 10px #5e5e5e;
	color: #000;
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt;
}

#popup_title {
	background: #d0e5f5 url(themes/default/images/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x scroll 50% 50%;
	border: 1px solid #aed0ea;
	color: #222;
	font-family: Tahoma,Arial;
	font-size: 8pt;
	font-weight: 700;
}

#popup_content {
	background-color: #fff;
	color: #000;
}

#popup_message {
	font-family: sans-serif,arial;
	font-size: 9pt;
}