.fv_tip{ display:inline-block;}
.onShow{
	background:url(../images/onShow.gif) no-repeat left center;
}
.onFocus{
    background:url(../images/onFocus.gif) no-repeat left center;
}
.onError{
	background:url(../images/onError.gif) no-repeat left center;
}
.onCorrect{
	background:url(../images/onCorrect.gif) no-repeat left center;
}
.onLoad{
	background:#E9FFEB url(../images/onLoad.gif) no-repeat left center;
} 
.onShow,.onFocus,.onError,.onCorrect,.onLoad{
	padding:4px 0px 4px 22px;
	font-size: 12px;
	vertical-align:middle;
	display:inline-block;
	margin-left:3px;
}
.input_error,.input_focus,.input_show,.input_correct {}