.delImg{color:#fff;display:inline-block;width:15px;height:15px;font-size:15px;line-height:15px;text-align:center;background:rgba(0,0,0,0.5);font-weight:normal;cursor:pointer;position: relative;left: -25px;top: 10px;}
.dialogtable { width: 100%;}
.dialogtable > tbody > tr > td {border-width: 0 1px 1px 0;border-style: dotted;border-color: #ccc; /*margin: 0;*/padding: 15px 7px;}
#tags_tagsinput {  margin-left: 8px; }
.errtips { color: red;  font-size: 12px; padding: 5px 10px; }
input {max-width: 450px;padding: 3px;margin: 8px;height: 25px;}
input[type="image"]{ width: 95px; }
.imgbox {display: inline-block;margin-right: 10px;width: 95px;position: relative;}
.imgbox_inputBtn {width: 95px;height: 95px;display: block;border: 1px solid #ddd;padding: 2px}
table.mdoutable {width: 100%;color: #333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}
table.mdoutable th {border-width: 1px;padding: 8px;border-style: dotted;border-color: rgb(204, 204, 204);background-color: #dedede;}
.textbox .textbox-text, .textbox {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
table.mdoutable td {border-width: 1px;padding: 8px;border-style: dotted;border-color: rgb(204, 204, 204);background-color: #ffffff;}
.edui-tab-nav { height: 36px; }