@charset "utf-8";
/* CSS Document */
body {
    font: 12px/1.5 Tahoma, Helvetica, Arial, \5B8B\4F53, sans-serif;
}

html, legend {
    color: #404040;
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: none;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
    vertical-align: super;
}

sub {
    vertical-align: text-bottom;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, button, textarea, select {
    *font-size: 100%;
}

select, input, button, textarea {
    font: 100% Tahoma, Helvetica, Arial, sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

pre, code, kbd, samp, tt {
    font-family: 'Courier New', Courier, monospace;
}

small {
    font-size: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

hr {
    color: #D1D7DC;
    background-color: #D1D7DC;
    border: none;
    height: 1px;
}

html { /*overflow-y:scroll;*/
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.cler {
    clear: both;
}

input:focus {
    outline: none;
}

/*  */
body.login {
    background: #fff;
}

.login_left {
    position: absolute;
    background: #fff url(../images/logoin_left_Bg.jpg) repeat-y;
    width: 24px;
    height: 100%;
    float: left;
    z-index: 2;
}

.login_left span {
    display: block;
    background: url(../images/logoin_left.jpg) no-repeat 0 0;
    width: 24px;
    height: 117px;
    margin: 75px 0 0 0;
}

.login_main {
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -218px;
    z-index: 1;
}

.login_main_logo {
    width: 380px;
    height: 60px;
    margin-left: 20px;
    background: url(../images/logo.png) no-repeat 0 0;
}

.login_main_section {
    /*width: 280px;*/
    height: 255px;
    background: url(../images/logoin_main_section_bg.jpg) no-repeat 0 0;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    padding: 30px 40px;
}

.login_main_section ul li {
    overflow: hidden;
    zoom: 1;
    margin: 25px 0;
}

.login_main_section ul li.username span {
    display: block;
    float: left;
    width: 38px;
    height: 40px;
    background: url(../images/logoin_user.jpg) no-repeat 0 0;
}

.login_main_section ul li.username input.name {
    display: block;
    float: left;
    width: 230px;
    height: 38px;
    background: #fff;
    border: #bdc7d3 solid 1px;
    color: #aaaaaa;
    font: 12px/38px \5b8b\4f53;
    text-indent: 13px;
}

.login_main_section ul li.userpwd span {
    display: block;
    float: left;
    width: 38px;
    height: 40px;
    background: url(../images/logoin_pwd.jpg) no-repeat 0 0;
}

.login_main_section ul li.userpwd input.pwd {
    display: block;
    float: left;
    width: 230px;
    height: 38px;
    background: #fff;
    border: #bdc7d3 solid 1px;
    color: #aaaaaa;
    font: 12px/38px \5b8b\4f53;
    text-indent: 13px;
}

.login_main_section ul li.number input.number {
    display: block;
    float: left;
    width: 100px;
    height: 38px;
    background: #fff;
    border: #bdc7d3 solid 1px;
    color: #aaaaaa;
    font: 12px/38px \5b8b\4f53;
    text-indent: 13px;
}

.login_main_section ul li.number img.img {
    width: 97px;
    height: 40px;
    vertical-align: middle;
    margin: 0 6px;
}

.login_main_section ul li.number a.click {
    color: #1c1c1c;
    font: 12px/22px \5b8b\4f53;
    margin: 0 0 0 12px;
}

.login_main_section ul li.btn input.btn {
    display: block;
    width: 100%;
    height: 29px;
    background: #dc0101;
    border: none;
    color: #fff;
    outline: none;
    font: 12px/29px \5b8b\4f53;
    cursor: pointer;
}

/* home */
.header {
    background: url(../images/header_bg.jpg) repeat-x;
    overflow: hidden;
    zoom: 1;
}

.header_logo {
    width: 345px;
    height: 32px;
    /*background: url(../images/logo.png) no-repeat 0 0;*/
    margin: 7px 0 0 24px;
}

.header .nav {
    width: 100%;
    border-bottom: 4px solid #df2929;
    overflow: hidden;
    zoom: 1;
    text-align: right;
    margin: -2px 0 0 0;
}

.header .nav ul {
    float: right;
    margin: 0 29px 0 0;
}

.header .nav ul li {
    float: left;
    width: 94px;
    height: 22px;
    margin: 0 3px 0 0;
    text-align: left;
    text-indent: 29px;
    font: 12px/26px \5b8b\4f53;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.header .nav ul li a {
    color: #fff;
}

.header .nav ul li.frist {
    background: #d90000 url(../images/header_nav_spry.png) no-repeat 10px -13px;
}

.header .nav ul li.last {
    background: #d90000 url(../images/header_nav_spry.png) no-repeat 10px -49px;
}

.header .nav ul li.update {
    background: #d90000 url(../images/header_nav_spry.png) no-repeat 10px -88px;
}

.header .nav ul li.system {
    background: #d90000 url(../images/header_nav_spry.png) no-repeat 10px -121px;
}

.header .position {
    padding: 0 52px;
    background: url(../images/header_position_Bg.jpg) no-repeat 24px center;
    color: #0e0e0e;
    font: 12px/30px \5b8b\4f53;
}

/*  */
.left_nav_main { /*background:url(../images/top_bg.png) repeat-x left top;*/
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.left_nav {
    background: #f8f8f8 url(../images/top_bg.png) repeat-x left top;
    position: absolute;
    height: 100%;
    width: 256px;
}

.left_nav h2 {
    color: #000000;
    font: 12px/31px \5b8b\4f53;
    background: #f0f0f0 url(../images/left_nav_divbg.png) no-repeat 26px -3px;
    text-align: left;
    text-indent: 53px;
    margin: 5px 0;
}

.left_nav h2 a {
    display: block;
    color: #000;
}

.left_nav h2 a:hover {
    background: #d90000 url(../images/left_nav_divbg.png) no-repeat 26px -27px;
    text-decoration: none;
    color: #fff;
}

.left_nav h2.curr a {
    background: #d90000 url(../images/left_nav_divbg.png) no-repeat 26px -27px;
    text-decoration: none;
    color: #fff;
}

.left_nav ul {
    display: none;
    padding: 0 4px;
}

.left_nav ul li {
    border-bottom: #d4d5d7 dashed 1px;
    text-align: left;
    color: #4c4c4c;
    font: 12px/26px \5b8b\4f53;
    text-indent: 50px;
}

.left_nav ul li a {
    color: #4c4c4c;
}

.left_nav_scroll {
    position: absolute;
    left: 258px;
    background: #bdbdbd;
    width: 5px;
    height: 100%;
}

.left_nav_scroll span {
    display: block;
    width: 5px;
    height: 37px;
    background: url(../images/left_nav_scroll_bg.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    cursor: pointer;
}

/* */
.content { /* background:url(../images/top_bg.png) repeat-x left top;*/
    padding: 0 35px;
    overflow: hidden;
    zoom: 1;
}

.content_home .home_title {
    background: #e1e1e1;
    color: #505050;
    font: bold 12px/31px \5b8b\4f53;
    text-indent: 19px;
    margin: 20px 0 0 0;
}

.content_home table.home_table {
    border: #d9d9d9 solid 1px;
}

.content_home table.home_table tr td {
    color: #323232;
    font: 12px/35px \5b8b\4f53;
    text-indent: 20px;
}

.content_home table.home_table tr td.name {
    border-right: #d9d9d9 solid 1px;
}

/* */
.top_bg {
    width: 100%;
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../images/top_bg.png) repeat-x left bottom;
}

/*  */
.layout {
    padding: 15px 0;
}

.layout_position {
    color: #4c4c4c;
    font: 12px/22px \5b8b\4f53;
}

.layout_position a {
    color: #4c4c4c;
}

.layout_position .search {
    float: right;
    color: #4c4c4c;
    font: 12px/22px \5b8b\4f53;
    vertical-align: middle;
}

.layout_position .search span.name {
    float: left;
    vertical-align: middle;
}

.layout_position .search span.text {
    float: left;
    line-height: 22px;
}

.layout_position .search span.text input {
    width: 183px;
    height: 20px;
    border: #d3d3d3 solid 1px;
    vertical-align: middle;
    text-indent: 2px;
}

.layout_position .search span.btn {
    float: left;
}

.layout_position .search span.btn input {
    color: #4c4c4c;
    font: 12px/22px \5b8b\4f53;
    background: #bebebe;
    border: none;
    height: 22px;
    margin: 0 8px;
    cursor: pointer;
    outline: none;
    padding: 0 6px;
}

.layout_table {
    margin: 5px 0;
    overflow: hidden;
    zoom: 1;
}

.layout_table ul.title {
    background: #f4f4f4;
    zoom: 1;
    margin: 5px 0;
}

.layout_table ul.title:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.layout_table ul.title li {
    float: left;
    color: #4c4c4c;
    font: bold 12px/31px \5b8b\4f53;
    text-align: center;
}

.layout_table ul.title li.name {
    width: 70%;
    text-align: left;
    text-indent: 45px;
}

.layout_table ul.title li.update {
    width: 10%;
}

.layout_table ul.title li.link {
    width: 10%;
}

.layout_table ul.title li.delete {
    width: 10%;
}

.layout_table table {
    border: #e7e7e7 solid 1px;
    width: 100%;
}

.layout_table table tr td {
    font: 12px/31px \5b8b\4f53;
    text-align: center;
}

.layout_table table tr td a {
    color: #4c4c4c;
}

.layout_table table tr td input.text {
    width: 50px;
    height: 15px;
    border-top: #abadb3 solid 1px;
    border-left: #e2e3ea solid 1px;
    border-right: #e2e3ea solid 1px;
    border-bottom: #e2e3ea solid 1px;
    color: #555555;
    font: 12px/15px Arial, Helvetica, sans-serif;
}

.layout_table table tr td.name {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
}

.layout_table table tr td.name input.checkbox, .layout_table table tr td.all_btn input {
    vertical-align: middle;
    margin: 0 17px 0 0;
}

.layout_table table tr td.all_btn {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
    color: #ff0000;
}

.layout_table table tr td a.all_delete {
    color: #f00;
}

.layout_table table tr td a.add_btn {
    display: block;
    width: 78px;
    height: 28px;
    background: url(../images/add_btn.png) no-repeat 0 0;
    margin: 6px 15px;
}

.layout_table table tr.add {
    border-bottom: #e7e7e7 solid 1px;
}

/* */
.layout_ul ul li {
    zoom: 1;
    margin: 17px 0;
}

.layout_ul ul li:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.layout_ul ul li span.title {
    display: block;
    width: 75px;
    text-align: right;
    float: left;
    color: #4c4c4c;
    font: 12px/21px \5b8b\4f53;
    margin: 0 8px 0 0;
}

.layout_ul ul li input.text {
    float: left;
    width: 190px;
    height: 21px;
    border: #e7e7e7 solid 1px;
    color: #aaaaaa;
    font: 12px/21px \5b8b\4f53;
    text-indent: 10px;
}

.layout_ul ul li textarea {
    width: 679px;
    height: 73px;
    border: #e7e7e7 solid 1px;
    color: #aaaaaa;
    font: 12px/21px \5b8b\4f53;
    text-indent: 10px;
    resize: none;
}

.layout_ul ul li textarea#content {
    border: none;
}

.layout_ul ul li.btn input {
    display: block;
    float: left;
    border: none;
    cursor: pointer;
    width: 78px;
    height: 28px;
    background: url(../images/add_btn.png) no-repeat 0 0;
    margin: 0 12px 0 0;
}

/*  */
.select_box {
    float: left;
    width: 190px;
    height: 21px;
    background: #FFF;
    border: #e7e7e7 solid 1px;
    position: relative;
    z-index: 99;
    color: #aaaaaa;
    font: 12px/21px \5b8b\4f53;
}

.select_txt {
    width: 190px;
    cursor: pointer;
    font-weight: normal;
    text-align: left;
    padding: 0 0 0 5px;
    background: url(../images/select_bg.png) no-repeat 164px 7px;
    color: #aaaaaa;
    font: 12px/21px \5b8b\4f53;
}

.option {
    width: 190px;
    border: solid 1px #e7e7e7;
    position: absolute;
    top: 20px;
    left: -1px;
    z-index: 98;
    display: none;
}

.option a {
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: left;
    width: 100%;
    background: #fff;
    border-bottom: #e7e7e7 solid 1px;
    border-right: #e7e7e7 solid 1px;
    text-indent: 5px;
}

.option a:hover {
    cursor: pointer;
}

.select_box_order_list_ {
    width: 100px;
}

.select_box_order_list_ .select_txt {
    width: 100px;
    background: url(../images/select_bg.png) no-repeat 74px 7px;
}

.select_box_order_list_ .option {
    width: 100px;
}

/*  */
.layout_ul ul li .file_upload {
    display: block;
    float: left;
    width: 63px;
    height: 23px;
    background: url(../images/btn.png) no-repeat 0 0;
    border: none;
    color: #4c4c4c;
    font: 12px/23px \5b8b\4f53;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
}

.layout_ul ul li .file_btn {
    display: block;
    float: left;
    width: 63px;
    height: 23px;
    background: url(../images/btn.png) no-repeat 0 0;
    border: none;
    color: #4c4c4c;
    font: 12px/23px \5b8b\4f53;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
}

.layout_ul ul li .Explain {
    color: #d90000;
    font: 12px/30px \5b8b\4f53;
    margin: 0 0 0 10px;
}

.layout_ul ul li .cont img {
    width: 63px;
    height: 44px;
}

/*  */
.layout_list {
    margin: 10px 0;
}

.layout_list ul.title {
    display: block;
    background: #f4f4f4;
    zoom: 1;
    margin: 5px 0;
}

.layout_list ul.title:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.layout_list ul.title li {
    float: left;
    color: #4c4c4c;
    font: bold 12px/31px \5b8b\4f53;
    text-align: center;
}

.layout_list ul.title li.name {
    width: 30%;
    text-align: left;
    text-indent: 45px;
}

.layout_list ul.title li.update {
    width: 14%;
}

.layout_list ul.title li.class {
    width: 14%;
}

.layout_list ul.title li.time {
    width: 14%;
}

.layout_list ul.title li.link {
    width: 14%;
}

.layout_list ul.title li.delete {
    width: 14%;
}

.layout_list .layout_list_table {
    border: #e7e7e7 solid 1px;
}

.layout_list .layout_list_table table tr td {
    text-align: center;
    font: 12px/33px \5b8b\4f53;
    border-right: #e7e7e7 solid 1px;
}

.layout_list .layout_list_table table tr td.name {
    text-align: left;
    text-indent: 16px;
    vertical-align: middle;
}

.layout_list .layout_list_table table tr td.name input {
    vertical-align: middle;
    margin: 0 17px 0 0;
}

.layout_list .layout_list_table table tr td a {
    color: #4c4c4c;
}

.layout_list .layout_list_table table tr td input.text {
    width: 50px;
    height: 15px;
    border-top: #abadb3 solid 1px;
    border-left: #e2e3ea solid 1px;
    border-right: #e2e3ea solid 1px;
    border-bottom: #e2e3ea solid 1px;
    color: #555555;
    font: 12px/15px Arial, Helvetica, sans-serif;
}

.layout_list .layout_list_table table tr td.none {
    background: none;
    border: none;
}

.layout_list .layout_list_table table tr.all_btn {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
    color: #ff0000;
    border: none;
}

.layout_list .layout_list_table table tr.all_btn td {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
    color: #ff0000;
    border: none;
}

.layout_list .layout_list_table table tr.all_btn td.link {
    text-align: center;
}

.layout_list .layout_list_table table tr.all_btn input {
    margin: 0 17px 0 0;
}

.layout_list .layout_list_table table tr.all_btn td a.all_delete {
    color: #ff0000;
    line-height: 50px;
}

.layout_list .foot a.add_btn {
    display: block;
    float: left;
    width: 78px;
    height: 28px;
    background: url(../images/add_btn.png) no-repeat 0 0;
    margin: 15px;
    text-align: center;
    font: 12px/28px \5b8b\4f53;
    color: #4c4c4c;
}

.layout_list .foot ul.page, .layout_order_list .foot ul.page {
    float: right;
}

.layout_list .foot ul.page li, .layout_order_list .foot ul.page li {
    float: left;
}

.layout_list .foot ul.page li a, .layout_order_list .foot ul.page li a {
    display: block;
    border: #d3d3d3 solid 1px;
    color: #4c4c4c;
    font: 12px/16px \5b8b\4f53;
    padding: 0 5px;
    margin: 20px 4px;
}

.layout_list .foot ul.page li a:hover, .layout_list .foot ul.page li a.curr, .layout_order_list .foot ul.page li a:hover, .layout_order_list .foot ul.page li a.curr {
    border: #ff0000 solid 1px;
    color: #ff0000;
    text-decoration: none;
}

/* */
.layout_order_list {
    margin: 10px 0;
}

.layout_order_list ul.title {
    display: block;
    background: #f4f4f4;
    zoom: 1;
    margin: 5px 0;
}

.layout_order_list ul.title:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.layout_order_list ul.title li {
    float: left;
    color: #4c4c4c;
    font: bold 12px/31px \5b8b\4f53;
    text-align: center;
}

.layout_order_list ul.title li.number {
    width: 25%;
    text-align: left;
    text-indent: 45px;
}

.layout_order_list ul.title li.time {
    width: 15%;
}

.layout_order_list ul.title li.money {
    width: 10%;
}

.layout_order_list ul.title li.pay {
    width: 10%;
}

.layout_order_list ul.title li.with {
    width: 10%;
}

.layout_order_list ul.title li.coll {
    width: 10%;
}

.layout_order_list ul.title li.link {
    width: 10%;
}

.layout_order_list ul.title li.delete {
    width: 10%;
}

.layout_order_list_table {
    border: #e7e7e7 solid 1px;
}

.layout_order_list_table table tr td.number {
    text-align: left;
    text-indent: 16px;
    vertical-align: middle;
}

.layout_order_list_table table tr td.number input {
    vertical-align: middle;
    margin: 0 17px 0 0;
}

.layout_order_list_table table tr td {
    color: #4c4c4c;
    font: 12px/33px \5b8b\4f53;
    text-align: center;
}

.layout_order_list_table table tr td a {
    color: #4c4c4c;
}

.layout_order_list_table table tr td span.not {
    color: #adadad;
}

.layout_order_list_table table tr.all_btn {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
    color: #ff0000;
    border: none;
}

.layout_order_list_table table tr.all_btn td {
    text-align: left;
    text-indent: 15px;
    vertical-align: middle;
    color: #ff0000;
    border: none;
}

.layout_order_list_table table tr.all_btn td.link {
    text-align: center;
}

.layout_order_list_table table tr.all_btn input {
    margin: 0 17px 0 0;
}

.layout_order_list_table table tr.all_btn td a.all_delete {
    color: #ff0000;
    line-height: 50px;
}

.order_content_list_main {
    float: left;
    width: 550px;
}

.order_content_list_msg {
    float: left;
    background: #f7f7f7;
    padding: 10px 15px 60px 15px;
    width: 40%;
}

.order_content_list_main li {
    float: left;
    margin: 9px 30px 9px 0;
}

.order_content_list_main li span.title {
    display: block;
    width: 60px;
    text-align: right;
    float: left;
    color: #4c4c4c;
    font: 12px/18px \5b8b\4f53;
    margin: 0 10px 0 0;
}

.order_content_list_main li input.text {
    width: 168px;
    height: 18px;
    border: #d3d3d3 solid 1px;
    text-indent: 6px;
    font: 12px/18px \5b8b\4f53;
    color: #000;
}

/* */
.order_content_select {
    width: 168px;
    height: 18px;
    float: left;
    background: url(../images/order_selectbg.jpg) no-repeat 149px center;
    text-indent: 6px;
    color: #000;
    border: #d3d3d3 solid 1px;
}

.order_content_select .select_txt {
    background: none;
    color: #000;
    width: 162px;
    height: 18px;
}

.order_content_select .option {
    width: 168px;
    top: 18px;
}

#color_a {
    color: #aaa;
}

.o_c_l_m_p li {
    overflow: hidden;
    zoom: 1;
    margin: 13px 0;
}

.o_c_l_m_p li span.title {
    display: block;
    width: 66px;
    float: left;
    color: #4c4c4c;
    font: 12px/22px \5b8b\4f53;
}

.o_c_l_m_p li input.text {
    float: left;
    width: 168px;
    height: 18px;
    background: #fff;
    border: #d3d3d3 solid 1px;
    color: #000;
    font: 12px/18px \5b8b\4f53;
    text-indent: 6px;
}

.o_c_l_m_p li .f {
    float: left;
    margin: 0 0 0 20px;
}

.o_c_l_m_p li .f span {
    float: left;
}

.o_c_l_m_p li .f input {
    float: left;
    width: 30px;
    height: 18px;
    background: #fff;
    border: #d3d3d3 solid 1px;
    color: #000;
    text-align: center;
}

.o_c_l_m_b {
    margin: 30px 0 0 0;
}

.o_c_l_m_b span.title {
    display: block;
    width: 66px;
    float: left;
    color: #4c4c4c;
    font: 12px/22px \5b8b\4f53;
}

.o_c_l_m_b textarea {
    float: left;
    width: 252px;
    height: 88px;
    background: #fff;
    border: #d3d3d3 solid 1px;
    resize: none;
    color: #a9a9a9;
    font: 12px/22px \5b8b\4f53;
    padding: 0 5px;
}

.order_content_btn {
    border-top: #adadad dashed 1px;
    margin: 25px 0;
}

.order_content_btn ul li {
    vertical-align: middle;
    color: #4c4c4c;
    font: 12px/36px \5b8b\4f53;
}

.order_content_btn ul li span.title {
    display: block;
    width: 66px;
    float: left;
    color: #4c4c4c;
    font: 12px/36px \5b8b\4f53;
}

.order_content_btn ul li input {
    vertical-align: middle;
    margin: 0 5px;
}

.order_content_btn ul li input.btn, .order_content_btn ul li input.delete {
    display: block;
    float: left;
    width: 78px;
    height: 28px;
    background: url(../images/add_btn.png) no-repeat 0 0;
    margin: 6px 13px 6px 0;
    border: none;
    color: #4c4c4c;
    font: 12px/28px \5b8b\4f53
}
