<form id="adspace_add_dialog_form" action="/b/ad-space/add" method="post">
    <table width="100%" class="mdoutable">
        <tr>
            <td>名称：</td>
            <td><input name="name" class="easyui-textbox" type="text" style="width: 250px;" data-options="required:true"/></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function adspaceListAddDialogFormSubmit() {
        $("#adspace_add_dialog_form").form("submit", {
            success: function (res) {
                res = JSON.parse(res)
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#adspace_list_add_dialog').dialog('close');
                    adspaceListRefresh();
                }
            }
        })
    }

    $('#link_add_news_form_thumb_input').click(function (e) {
        e.preventDefault();
        $.upload({
            url: "/public/upload",
            fileName: 'filedata',
            params: {},
            dataType: 'json',
            onSend: function () {
                return true;
            },
            onComplate: function (data) {
                if (0 === Number(data.errcode)) {
                    $("#link_add_news_form_thumb_input").attr('src', data.errmsg);
                    $("#link_add_news_form_thumb_input").next('input:hidden').val(data.errmsg);
                } else {
                    parent.$.messager.alert('提示信息', data.errmsg, 'error');
                }
            }
        });
        return false;
    });
</script>
