<script src="/assets/backend/ueditor/third-party/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/assets/backend/ueditor/third-party/codemirror/codemirror.css">
<link rel="stylesheet" href="/assets/backend/ueditor/third-party/codemirror/xq-light.css">

<style>
    .CodeMirror {border: 1px solid #eee; height: 100%;  min-height: 600px; }
    .CodeMirror-scroll { height: 100%; overflow-y: hidden; overflow-x: auto;}
</style>


<form id="assets_edit_form" method="post">
    <table width="100%" class="mdoutable">
        <tr>
            <td width="100px">资源名称</td>
            <td ><input type="text" style="width: 300px;" class="easyui-textbox" data-options="readonly: true" name="name"  value="{{ .name }}"></td>
        </tr>

        <tr>
            <td width="100px" style="vertical-align: top">资源内容</td>
            <td ><textarea id="templateCodeEditor" name="content" style="width:99%; height: 99%">{{ .content }}</textarea></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    var editTemplateCodeMirror = addTemplateCodeMirror = null;

    var typeList = ["htmlmixed", "javascript", "css"];

    setTimeout(function () {
        $(".CodeMirror").remove();
        editTemplateCodeMirror = CodeMirror.fromTextArea(document.getElementById("templateCodeEditor"), {
            mode: "htmlmixed",
            lineNumbers: true,
            theme: "xq-light"
        });
        editTemplateCodeMirror.refresh()
    }, 110)

    function assetsEditForm() {
        $("#templateCodeEditor").val(editTemplateCodeMirror.getValue());
        $.post("/b/assets-manager/edit?origin={{ .name }}", $('#assets_edit_form').serializeObject(), function (res) {
            if (res.errcode) {
                $.messager.alert('提示信息', res.errmsg, 'error');
            } else {
                $.messager.alert('提示信息', res.errmsg, 'info');
            }
        })
    }
</script>
