<link rel="stylesheet" type="text/css" href="/assets/backend/ueditor/third-party/webuploader/webuploader.css">
<link rel="stylesheet" type="text/css" href="/assets/backend/assets/css/attachment_uploader.css">
<script type="text/javascript" src="/assets/backend/ueditor/third-party/webuploader/webuploader.js"></script>
{{ .dataGrid }}

<div id="attachment_preview" class="easyui-dialog" title="大图预览" data-options="modal:true, closed:true"
     style="width:50%; height: 50%">
    <img id="attachment_preview_img" src="" style="width: 100%;"/>
</div>


<div id="attachment_image_uploader" class="easyui-dialog" title="图片上传" data-options="modal:true, closed:true"
     style="width:70%; height: 580px;overflow: auto;">
    <div id="uploader" class="wu-example">
        <div class="queueList">
            <div id="dndArea" class="placeholder">
                <div id="filePicker"></div>
                <p>或将照片拖到这里，单次最多可选300张</p>
            </div>
        </div>
        <div class="statusBar" style="display:none;">
            <div class="progress">
                <span class="text">0%</span>
                <span class="percentage"></span>
            </div><div class="info"></div>
            <div class="btns">
                <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var attachments_list_datagrid_toolbar = [
        {text: '上传图片', iconCls: 'icons-arrow-add', handler: uploadAttachmentsImage},
        {text: '上传文件', iconCls: 'icons-arrow-add', handler: uploadAttachmentsFiles},
    ];

    function attachmentsListUrlFormatter(url) {
        return "<img src='" + url + "' style='height: 30px;' />"
    }

    function attachmentsListSizeFormatter(size) {
        if (size < 1024) {
            return size + "B"
        } else if (size / 1024 < 1024) {
            return (size / 1024).toFixed(2) + "K"
        } else {
            return (size / (1024 ** 2)).toFixed(2) + "M"
        }
    }

    function attachmentsListSizeOptFormatter(id, obj) {
        var btn = [];
        if (obj.type === "img") {
            btn.push("<a href=\"javascript:;\" onclick=\"attachmentListPreview('" + obj.url + "')\">查看</a>");
            btn.push("<a href=\"javascript:;\" onclick=\"replaceAttachments('" + obj.url + "')\" >替换</a>");

        }
        btn.push("<a href=\"javascript:;\" onclick=\"downloadAttachments('" + obj.url + "')\" >下载</a>");
        btn.push("<a href=\"javascript:;\" onclick=\"deleteAttachments(" + id + ")\">删除</a>");
        return btn.join(' | ');
    }


    function attachmentListPreview(url) {
        $("#attachment_preview_img").attr("src", url);
        $('#attachment_preview').dialog('open')
    }

    function uploadAttachmentsImage() {
        var uploader = webuploader();
        $("#attachment_image_uploader").dialog("open");
    }
    function uploadAttachmentsFiles() {
    }

    function downloadAttachments(url) {
        $.messager.confirm("下载成功", "确定要下载该附件吗？", function (result) {
            if (!result) return false;
            var a = document.createElement('a');
            a.href = url;
            a.target = '_blank';
            a.id = 'download_attachments';
            document.body.appendChild(a);
            var alink = document.getElementById('download_attachments');
            alink.click();
            alink.parentNode.removeChild(a);
        });
    }

    function replaceAttachments() {
        $.messager.alert("替换提醒", "替换附件内容, 比如资源失效什么的可以再次生成连接", "info");
    }

    function deleteAttachments(id) {
        $.messager.confirm("删除提醒", "确定要删除该附件吗？如果有在使用将会无法找到该资源！", function (result) {
            if (!result) return false;
            $.post("/b/attachments/delete", {id: id}, function (res) {
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#attachments_list_datagrid').datagrid('reload');
                }
            });
        })
    }
</script>

<script type="text/javascript" src="/assets/backend/assets/js/attachment_uploader.js"></script>

