<link rel="stylesheet" type="text/css" href="/assets/viewer/viewer.css">
<script type="text/javascript" src="/assets/viewer/viewer.js"></script>

{{ .dataGrid }}
<img id="attachment_preview_img" src="" />


<div id="attachment_image_uploader" class="easyui-dialog" title="图片上传" data-options="modal:true, closed:true"
     style="width:70%; height: 600px;overflow: hidden;">
    <iframe id="attachment_image_uploader_iframe" src="/b/content/public-welcome" style="width: 100%; height: 100%;border: none; overflow: auto"></iframe>
</div>


<div id="attachments_list_datagrid_toolbar" style="padding:1px;height:auto">
    <form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px;" id="attachments_list_search_form">
        <div class="search-div">名称: <input name="keywords" class="easyui-textbox">
            <a href="javascript:;" onclick="attachmentsListDatagridSearch(this)" class="easyui-linkbutton"
               iconCls="icons-map-magnifier">搜索</a></div>
    </form>

    <div>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add'"
           onclick="uploadAttachmentsImage()">上传图片</a>
    </div>
</div>

<script type="text/javascript">
    function attachmentsListDatagridSearch(that) {
        var content_datagrid = $('#attachments_list_datagrid');
        var queryParams = content_datagrid.datagrid('options').queryParams;
        $.each($("#attachments_list_search_form").serializeArray(), function () {
            queryParams[this['name']] = this['value'];
        });
        content_datagrid.datagrid({queryParams: queryParams})
        content_datagrid.datagrid('reload');
    }

    function attachmentsListUrlFormatter(url) {
        return "<img src='" + url + "' style='height: 30px;' />"
    }

    function attachmentsListSizeFormatter(size) {
        if (size < 1024) {
            return size + "B"
        } else if (size / 1024 < 1024) {
            return (size / 1024).toFixed(2) + "K"
        } else {
            return (size / (1024 ** 2)).toFixed(2) + "M"
        }
    }

    function attachmentsListSizeOptFormatter(id, obj) {
        var btn = [];
        if (obj.type === "img") {
            btn.push("<a href=\"javascript:;\" onclick=\"attachmentListPreview('" + obj.url + "')\">查看</a>");
        }
        btn.push("<a href=\"javascript:;\" onclick=\"downloadAttachments('" + obj.url + "')\" >下载</a>");
        btn.push("<a href=\"javascript:;\" onclick=\"deleteAttachments(" + id + ")\">删除</a>");
        return btn.join(' | ');
    }


    function attachmentListPreview(url) {
        var $preview = $('#attachment_preview_img');
        $preview.attr("src", url);
        new Viewer(document.getElementById("attachment_preview_img"),{
            inline: true,
            toolbar: false,
            button: true,
            fullscreen: true,
        })
        // $preview.viewer({
        //     inline: true,
        //     toolbar: false,
        //     button: false,
        //     fullscreen: false
        // });

    }

    function uploadAttachmentsImage() {
        $("#attachment_image_uploader_iframe").attr("src",  "/b/attachments/webuploader?_=" + Math.random());
        $("#attachment_image_uploader").dialog("open");
    }
    function uploadAttachmentsFiles() {

    }

    function downloadAttachments(url) {
        $.messager.confirm("下载成功", "确定要下载该附件吗？", function (result) {
            if (!result) return false;
            var a = document.createElement('a');
            a.href = url;
            a.target = '_blank';
            a.id = 'download_attachments';
            document.body.appendChild(a);
            var alink = document.getElementById('download_attachments');
            alink.click();
            alink.parentNode.removeChild(a);
        });
    }

    function replaceAttachments() {
        $.messager.alert("替换提醒", "替换附件内容, 比如资源失效什么的可以再次生成连接", "info");
    }

    function deleteAttachments(id) {
        $.messager.confirm("删除提醒", "确定要删除该附件吗？如果有在使用将会无法找到该资源！", function (result) {
            if (!result) return false;
            $.post("/b/attachments/delete", {id: id}, function (res) {
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#attachments_list_datagrid').datagrid('reload');
                }
            });
        })
    }
</script>


