<!--suppress ALL -->
<script src="/assets/backend/static/jquery.upload.js"></script>

<form id="category_category_edit_dialog_form" method="post">
    <table width="100%" class="mdoutable">
        <tr>
            <td width="80">上级栏目：</td>
            <td><input id="category_category_edit_dialog_form_parentid" name="parentid" class="easyui-combotree" value="{{ .category.Parentid }}" /></td>
        </tr>
        <tr>
            <td>栏目名称：</td>
            <td><input name="catname" value="{{.category.Catname}}" type="text" class="easyui-textbox" data-options="required: true" /></td>
        </tr>
        <tr>
            <td>栏目类型：</td>
            <td>
                <select id="category_category_edit_dialog_form_type"
                        name="type"
                        class="easyui-combobox"
                        data-options="editable:false,panelHeight:'auto',onChange:categoryCategoryEditDialogFormTypeChange"
                        style="width:80px"
                        disabled>
                    {{range $i,$v := .typelist}}{{if eq $.category.Type $i}}
                    <option value="{{$i}}" selected>{{$v}}</option>
                    {{else}}
                    <option value="{{$i}}">{{$v}}</option>
                    {{end}}{{end}}
                </select>
                <span style="color:gray;padding-left:15px">设置后不可修改</span>
            </td>
        </tr>
        {{ if gt .category.ModelId 0}}
        <tr id="model_select">
            <td>文档模型：</td>
            <td>
                <select name="model_id" class="easyui-combobox"
                        data-options="editable:false,panelHeight:'auto'"
                        style="width:280px"
                        disabled>
                    {{range $v := .models}}
                        {{if eq $v.Id $.model_id}}
                            <option value="{{$v.Id}}">{{$v.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
                <span style="color:gray;padding-left:15px">设置后不可修改</span>
            </td>
        </tr>
        {{end}}
        <tr>
            <td>缩略图：</td>
            <td>
                <input id="content_edit_news_form_thumb_input" type="image" src="{{.category.Thumb}}" onerror="this.src='/assets/backend/static/nopic.jpg'" alt="点击上传缩略图"
                       style="height:100px;display:block;border:1px solid #ddd;padding:2px"/>
                <input type="hidden" name="thumb" value="{{.category.Thumb}}"/>
            </td>
        </tr>
        <tr id="category_category_edit_dialog_form_url" {{if ne .category.Type 2}}style="display:none" {{end}}>
            <td>链接：</td>
            <td><input name="url" value="{{.category.Url}}" type="text" style="width:80%;height:22px"/></td>
            <td>
        </tr>
        <tr>
            <td>描述：</td>
            <td ><textarea name="description"
                                      style="width:100%;height:60px">{{.category.Description}}</textarea></td>
        </tr>
        <tr>
            <td>是否启用：</td>
            <td >
                <input name="ismenu" class="easyui-switchbutton" {{if eq .category.Ismenu 1}}checked{{end}} data-options="onText:'是',offText:'否'">
            </td>
        </tr>
    </table>
</form>


<script type="text/javascript">
    $('#category_category_edit_dialog_form_parentid').combotree({url: "/b/category/category-select"});
    function categoryCategoryAddDialogFormSubmit() {
        var f = $("#category_category_edit_dialog_form");
        f.form({
            method: "post",
            url: "/b/category/category-edit?id={{ .category.Catid }}",
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(res){
                res = JSON.parse(res)
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#category_category_edit_dialog').dialog('close');
                    categoryCategoryListRefresh();
                }
            }
        });
        f.submit();
    }
    function categoryCategoryEditDialogFormTypeChange(val) {
        var category_category_edit_dialog_form_url = $('#category_category_edit_dialog_form_url');
        if (val === parseInt('2')) {
            category_category_edit_dialog_form_url.show();
        } else {
            category_category_edit_dialog_form_url.val('');
            category_category_edit_dialog_form_url.hide();
        }
    }
    $('#content_edit_news_form_thumb_input').click(function (e) {
        e.preventDefault();
        $.upload({
            url: "/public/upload",
            fileName: 'filedata',
            params: {},
            dataType: 'json',
            onSend: function () {
                return true;
            },
            onComplate: function (data) {
                if (0 === Number(data.errcode)) {
                    $('#content_edit_news_form_thumb_input').attr('src', data.url);
                    $('#content_edit_news_form_thumb_input').next('input:hidden').val(data.url);
                } else {
                    $.messager.alert('提示信息', data.errmsg, 'error');
                }
            }
        });
        return false;
    });
</script>
