<!--suppress ALL -->
<script src="/assets/backend/static/jquery.upload.js"></script>

<form id="category_category_add_dialog_form" method="post">
    <table width="100%" class="mdoutable">
        <tr>
            <td width="130">上级栏目：</td>
            <td><input id="category_category_add_dialog_form_parentid" name="parentid" class="easyui-combotree" value="{{ .parentid }}"/></td>
        </tr>
        <tr>
            <td>栏目名称：</td>
            <td><input id="category_category_add_dialog_form_catname" name="catname" type="text" class="easyui-textbox" data-options="required: true"/></td>
        </tr>
        <tr>
            <td>栏目类型：</td>
            <td>
                <select id="category_category_add_dialog_form_type" name="type" class="easyui-combobox"
                        data-options="editable:false,panelHeight:'auto',onChange:categoryCategoryAddDialogFormTypeChange">
                    {{range $i,$v := .typelist}}
                    <option value="{{$i}}">{{$v}}</option>
                    {{end}}
                </select>
                <span style="color:gray;padding-left:15px">设置后不可修改</span>
            </td>
        </tr>
        <div>

        </div>
        <tr id="model_select">
            <td>文档模型：</td>
            <td>
                <select name="model_id" class="easyui-combobox"
                        data-options="editable:false,panelHeight:'auto', onSelect: modelSelectValEvent"
                        style="width:280px">
                    <option value="0">自定义(需要设置路由)</option>
                    {{range $v := .models}}
                        <option value="{{$v.Id}}">{{$v.Name}}</option>
                    {{end}}
                </select>
                <span style="color:gray;padding-left:15px">设置后不可修改</span>
            </td>
        </tr>


        <tr class="custom_manager">
            <td>列表管理路由：</td>
            <td><input name="manager_content_router" type="text" class="easyui-textbox"/></td>
        </tr>

        <tr class="custom_manager">
            <td>添加内容路由：</td>
            <td><input name="add_content_router" type="text" class="easyui-textbox"/></td>
        </tr>

        <tr class="custom_manager">
            <td>修改内容路由：</td>
            <td><input name="edit_content_router" type="text" class="easyui-textbox"/></td>
        </tr>


        <tr>
            <td>缩略图：</td>
            <td>
                {{.thumbHtml}}
{{/*                <input id="content_add_news_form_thumb_input" type="image" src="" onerror="this.src='/assets/backend/static/nopic.jpg'" alt="点击上传缩略图"*/}}
{{/*                       style="height:100px;display:block;border:1px solid #ddd;padding:2px"/>*/}}
{{/*                <input type="hidden" name="thumb"/>*/}}
            </td>
        </tr>

        <tr id="category_category_add_dialog_form_url" style="display:none">
            <td>链接：</td>
            <td><input name="url" type="text" style="width:100%;height:22px"/></td>
        </tr>

        <tr >
            <td>栏目目录：</td>
            <td><input name="dir" class="easyui-textbox" value="" type="text" data-options="required: true"/></td>
            <td>
        </tr>

        <tr>
            <td>描述：</td>
            <td><textarea name="description" style="width:100%;height:60px"></textarea></td>
        </tr>

        <tr>
            <td>是否启用：</td>
            <td >
                <input name="ismenu" class="easyui-switchbutton" data-options="onText:'是',offText:'否'">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    $('#category_category_add_dialog_form_parentid').combotree({url: "/b/category/category-select"});
    function categoryCategoryAddDialogFormSubmit() {
        var f = $("#category_category_add_dialog_form");
        f.form({
            url: "/b/category/category-add",
            onSubmit: function(param){
                return $(this).form('validate');
            },
            success: function(res){
                res = JSON.parse(res)
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#category_category_add_dialog').dialog('close');
                    categoryCategoryListRefresh();
                }
            }
        });
        f.submit();
    }
    function categoryCategoryAddDialogFormTypeChange(val) {
        var category_category_add_dialog_form_url = $('#category_category_add_dialog_form_url');
        var model_select = $("#model_select");
        switch (parseInt(val)) {
            case 0:
                model_select.show()
                if (parseInt($("[name='model_id']").val()) == 0) {
                    $(".custom_manager").show()
                } else {
                    $(".custom_manager").hide()
                }
                category_category_add_dialog_form_url.hide()
                break;
            case 1:
                model_select.hide()
                $(".custom_manager").hide()
                category_category_add_dialog_form_url.hide()
                break;
            case 2:
                model_select.hide()
                $(".custom_manager").hide()
                category_category_add_dialog_form_url.show()
                break;
        }
    }

    function modelSelectValEvent (rec) {
        if (parseInt(rec.value) == 0) {
            $(".custom_manager").show()
        } else {
            $(".custom_manager").hide()
        }
    }

    $('#content_add_news_form_thumb_input').click(function (e) {
        e.preventDefault();
        $.upload({
            url: "/public/upload",
            fileName: 'filedata',
            params: {},
            dataType: 'json',
            onSend: function () {
                return true;
            },
            onComplate: function (data) {
                if (0 === Number(data.errcode)) {
                    $("#content_add_news_form_thumb_input").attr('src', data.url);
                    $("#content_add_news_form_thumb_input").next('input:hidden').val(data.url);
                } else {
                    parent.$.messager.alert('提示信息', data.errmsg, 'error');
                }
            }
        });
        return false;
    });
</script>
