{{ .TreeGrid }}

<!-- 添加栏目 -->
<div id="category_category_add_dialog" class="easyui-dialog" title="添加栏目"
     data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){
     categoryCategoryAddDialogFormSubmit();
     }},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#category_category_add_dialog').dialog('close');}}]"
     style="width:800px;height:500px;"></div>

<!-- 编辑栏目 -->
<div id="category_category_edit_dialog" class="easyui-dialog" title="编辑栏目"
     data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){
     categoryCategoryAddDialogFormSubmit();
     }},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#category_category_edit_dialog').dialog('close');}}]"
     style="width:800px;height:500px;"></div>

<script type="text/javascript">
    var category_categorylist_treegrid_toolbar = [
        {text: '添加栏目', iconCls: 'icons-arrow-add', handler: categoryCategoryListAdd},
        {text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: categoryCategoryListRefresh},
        {text: '排序', iconCls: 'icons-arrow-arrow_down', handler: categoryCategoryListOrder}
    ];

    //排序格式化
    function categoryCategoryListOrderFormatter(val, arr) {
        return '<input class="category_categorylist_order_input easyui-textbox" type="text" name="order" value="' + val + '" size="2" style="text-align:center">' +
            '<input class="category_categorylist_order_input" type="hidden" name="id" value="' + arr['catid'] + '"/>';
    }

    //类型格式化
    function categoryCategoryListTypeFormatter(key) {
        var list = ["栏目", "页面", "链接"];
        return list[key] || null;
    }

    //状态格式化
    function categoryCategoryListStateFormatter(val) {
        return val === 1 ? '启用' : '<font color="red">禁用</font>';
    }

    //操作格式化
    function categoryCategoryListOperateFormatter(id, obj) {
        var btn = [];
        btn.push('<a href="javascript:;" onclick="categoryCategoryListAdd(' + id + ')">预览</a>');
        if (obj.type !== 2) {
            btn.push('<a href="javascript:;" onclick="categoryOpenContentList(' + obj.type + ',' + id + ')">内容管理</a>');
            btn.push('<a href="javascript:;" onclick="categoryCategoryListAdd(' + id + ')">添加子栏目</a>');
        }
        btn.push('<a href="javascript:;" onclick="categoryCategoryListEdit(' + id + ')">修改</a>');
        btn.push('<a href="javascript:;" onclick="categoryCategoryListDelete(' + id + ')">删除</a>');
        return btn.join(' | ');
    }

    //刷新
    function categoryCategoryListRefresh() {
        $('#category_categorylist_treegrid').treegrid('reload');
    }

    //添加
    function categoryCategoryListAdd(parentid) {
        if (typeof (parentid) !== 'number') parentid = 0;
        var url = "/b/category/category-add";
        url += url.indexOf('?') !== -1 ? '&parentid=' + parentid : '?parentid=' + parentid;
        $('#category_category_add_dialog').dialog({href: url});
        $('#category_category_add_dialog').dialog('open');
    }

    //编辑
    function categoryCategoryListEdit(id) {
        if (typeof (id) !== 'number') {
            $.messager.alert('提示信息', '未选择栏目', 'error');
            return false;
        }
        var url = "/b/category/category-edit";
        url += url.indexOf('?') !== -1 ? '&id=' + id : '?id=' + id;
        $('#category_category_edit_dialog').dialog({href: url});
        $('#category_category_edit_dialog').dialog('open');
    }

    //删除
    function categoryCategoryListDelete(id) {
        if (typeof (id) !== 'number') {
            $.messager.alert('提示信息', '未选择菜单', 'error');
            return false;
        }
        $.messager.confirm('提示信息', '确定要删除吗？', function (result) {
            if (!result) return false;
            $.post("/b/category/category-delete", {id: id}, function (res) {
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    categoryCategoryListRefresh();
                }
            }, 'json');
        });
    }

    //排序
    function categoryCategoryListOrder() {
        var data = $('.category_categorylist_order_input').serialize();
        if (!data) {
            return;
        }
        $.post("/b/category/category-order", data, function (res) {
            if (res.errcode) {
                $.messager.alert('提示信息', res.errmsg, 'error');
            } else {
                $.messager.alert('提示信息', res.errmsg, 'info');
                categoryCategoryListRefresh();
            }
        }, 'json');
    }


    function categoryOpenContentList(type, id) {
        switch (type) {
            //栏目
            case 0:
                var url = '/b/content/news-list';
                url += url.indexOf('?') !== -1 ? '&catid=' + id : '?catid=' + id;
                openUrl(url, "内容管理");
                // contentMainOpenUrl(url, false);
                break;
            //页面
            case 1:
                var url = '/b/content/page';
                url += url.indexOf('?') !== -1 ? '&catid=' + id : '?catid=' + id;
                openUrl(url, "内容管理");
                // contentMainOpenUrl(url, true);
                break;
            //链接
            case 2:
                return false;
                break;
            default:
                $.messager.alert('提示信息', '未知的类型', 'error');
        }
    };


</script>
