<link rel="stylesheet" type="text/css" href="/assets/backend/mdou/css/style.css" />
<script type="text/javascript" src="/assets/backend/static/echarts.min.js"></script>

<div class="content">
    <div class="top_bg"></div>
    <div class="content_home">
        <div style="height: auto; overflow: hidden">
            <div style="width: 47%; float: left">
                <div class="home_title">CPU使用率</div>
                <div id="cpuChart" style="width: 100%;height:400px;"></div>
            </div>
            <div style="width: 47%; float: right;">
                <div class="home_title">内存使用率</div>
                <div id="memChart" style="width: 100%;height:400px; margin-bottom: 30px;"></div>
            </div>
        </div>


        <div class="home_title">系统信息</div>

        <table class="home_table" style="width: 100%;">
            <tr>
                <td class="name" width="150px">操作系统：</td>
                <td>{{ .Goos }}</td>
            </tr>
            <tr>
                <td class="name">当前线程数：</td>
                <td>{{ .Grountues }}个</td>
            </tr>
            <tr>
                <td class="name" >GO：</td>
                <td>{{ .GoVersion }}</td>
            </tr>
            <tr>
                <td class="name" >PINE：</td>
                <td>{{ .pineVersion }}</td>
            </tr>
            <tr>
                <td class="name" >数据库：</td>
                <td>MySql</td>
            </tr>
            <tr>
                <td class="name" >当前网站尺寸：</td>
                <td>{{.SiteSize}}</td>
            </tr>
            <tr>
                <td class="name">处理器数量：</td>
                <td>{{ .NumCPU }}个</td>
            </tr>

        </table>

    </div>


</div>




<script>
    var memChart = echarts.init(document.getElementById('memChart'));

    var mems = {{.mems}};
    var memDataArr = [];
    var memPercentArr = [];
    for (let i in mems) {
        memDataArr.push(mems[i].time_pos)
        memPercentArr.push(mems[i].percent)
    }

    var memChartOption = {
        title: {
            show: false,
            text: "内存使用率",
        },
        xAxis: {
            // name: '采集时间',
            type: 'category',
            data: memDataArr
        },
        yAxis: {
            // name: "使用率(%)",
            type: 'value',
            max: 100
        },
        series: [{
            detail: {formatter: '{value}%'},
            data: memPercentArr,
            type: 'line',
        }]
    };


    memChart.setOption(memChartOption, true);


    var cpuChart = echarts.init(document.getElementById('cpuChart'));

    cpus = {{.cpus}};

    var cpuDataArr = [];
    var cpuPercentArr = [];

    var legend = [];

    var legendDataArr = {};

    for (let i in cpus) {
        cpuDataArr.push(cpus[i].time_pos)
        if (legend.length === 0) {
            for (let j in cpus[i].percent) {
                var cpuCoreName = "CORE " + (Number(j) + 1);
                legend.push(cpuCoreName);
            };
        }

        for (let j in cpus[i].percent) {
            var cpuCoreName = "CORE " + (Number(j) + 1);
            if (!legendDataArr[cpuCoreName]) {
                legendDataArr[cpuCoreName] = {
                    name: cpuCoreName,
                    type: 'line',
                    areaStyle: {},
                    data: []
                };
            }
            legendDataArr[cpuCoreName].data.push(cpus[i].percent[j])
        }

    }

    var echartCpuOption = {
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: cpuDataArr
            }
        ],
        yAxis: [
            {
                type: 'value',
                max: 100
            }
        ],
        series: Object.values(legendDataArr)
    };

    cpuChart.setOption(echartCpuOption, true);
</script>
