

<div style="background: rgba(125, 114, 100, 0.05); overflow: auto">

    <section class="tile">



    <div class="tile-header transparent">
        <h1><strong>Two-sided</strong> Cards</h1>
        <span class="note">Tag <strong>div</strong> with class <em>card</em></span>
    </div>

    <div class="row cards">

        <div class="card-container col-lg-3 col-md-6 col-sm-12">
            <div class="card card-red hover">
                <div class="front">
                    <h1>New Users</h1>
                    <p id="users-count">0</p>
                    <span class="fa-stack fa-2x pull-right">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                            <span class="easypiechart" data-percent="100" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#users-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"></span>
                          </span>
                </div>
                <div class="back">
                    <ul class="inline divided">
                        <li>
                            <h1>Total Users</h1>
                            <p>3541</p>
                        </li>
                        <li>
                            <h1>Last Month</h1>
                            <p>698</p>
                        </li>
                    </ul>
                    <div class="summary negative">13% <i class="fa fa-arrow-down"></i> this month</div>
                    <!-- Button trigger modal -->
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal01">
                        show code
                    </button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="codeModal01" tabindex="-1" role="dialog" aria-labelledby="cardCode01" aria-hidden="true">
            <div class="modal-dialog wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cardCode01">Users Card - Source Code</h4>
                    </div>
                    <div class="modal-body">



                        <!-- Source Code -->
                        <pre class="prettyprint linenums">
      //card container
      &lt;div class="card-container col-lg-3 col-md-6 col-sm-12"&gt;

        //define card color with .card-red
        &lt;div class="card card-red hover"&gt;

          //front side of card
          &lt;div class="front"&gt;
            &lt;h1&gt;New Users&lt;/h1&gt;
            &lt;p id="users-count"&gt;0&lt;/p&gt;

            //icon circle
            &lt;span class="fa-stack fa-2x pull-right"&gt;
              &lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;
              &lt;i class="fa fa-user fa-stack-1x"&gt;&lt;/i&gt;

              //chart around icon
              &lt;span class="easypiechart" data-percent="100" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#users-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"&gt;&lt;/span&gt;
            &lt;/span&gt;
          &lt;/div&gt;

          //back side of card
          &lt;div class="back"&gt;
            &lt;ul class="inline divided"&gt;
              &lt;li&gt;
                &lt;h1&gt;Total Users&lt;/h1&gt;
                &lt;p&gt;3541&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;h1&gt;Last Month&lt;/h1&gt;
                &lt;p&gt;698&lt;/p&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div class="summary negative"&gt;13% &lt;i class="fa fa-arrow-down"&gt;&lt;/i&gt; this month&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      //****************************//
      //*********** jquery *********//
      //****************************//

      // Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      // Make card front & back side same
      $('.card').each(function() {
        var front = $('.card .front');
        var back = $('.card .back');
        var frontH = front.height();
        var backH = back.height();



        if (backH > frontH) {
          front.height(backH - 8);
        }
      });

      //generate pie charts
      $('.easypiechart').easyPieChart();

      //animate numbers on cards
      $("#users-count").animateNumbers(Math.round( Math.random() * 1000 ));

      //update instance every 5 sec
      window.setInterval(function() {

        //animate numbers on cards
        $( '#users-count' ).animateNumbers( Math.round( Math.random() * 1000 ) );

        //refresh every pie chart
        $('.easypiechart').each(function() {
          $(this).data('easyPieChart').update(Math.floor(100*Math.random()));
        });

      }, 5000);
      </pre>
                        <!-- /Source Code -->



                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="card-container col-lg-3 col-md-6 col-sm-12">
            <div class="card card-cyan hover">
                <div class="front">
                    <h1>New Orders</h1>
                    <p id="orders-count">0</p>
                    <span class="fa-stack fa-2x pull-right">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x"></i>
                            <span class="easypiechart" data-percent="55" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#orders-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"></span>
                          </span>
                </div>
                <div class="back">
                    <ul class="inline divided">
                        <li>
                            <h1>Total Orders</h1>
                            <p>842</p>
                        </li>
                        <li>
                            <h1>Last Month</h1>
                            <p>151</p>
                        </li>
                    </ul>
                    <div class="summary positive">6% <i class="fa fa-arrow-up"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal02">
                        show code
                    </button>
                </div>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="codeModal02" tabindex="-1" role="dialog" aria-labelledby="cardCode02" aria-hidden="true">
            <div class="modal-dialog wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cardCode02">Orders Card - Source Code</h4>
                    </div>
                    <div class="modal-body">



                        <!-- Source Code -->
                        <pre class="prettyprint linenums">
      //card container
      &lt;div class="card-container col-lg-3 col-md-6 col-sm-12"&gt;

        //define card color with .card-cyan
        &lt;div class="card card-cyan hover"&gt;

          //front side of card
          &lt;div class="front"&gt;
            &lt;h1&gt;New Orders&lt;/h1&gt;
            &lt;p id="orders-count"&gt;0&lt;/p&gt;

            //icon circle
            &lt;span class="fa-stack fa-2x pull-right"&gt;
              &lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;
              &lt;i class="fa fa-shopping-cart fa-stack-1x"&gt;&lt;/i&gt;

              //chart around icon
              &lt;span class="easypiechart" data-percent="55" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#orders-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"&gt;&lt;/span&gt;
            &lt;/span&gt;
          &lt;/div&gt;

          //back side of card
          &lt;div class="back"&gt;
            &lt;ul class="inline divided"&gt;
              &lt;li&gt;
                &lt;h1&gt;Total Orders&lt;/h1&gt;
                &lt;p&gt;842&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;h1&gt;Last Month&lt;/h1&gt;
                &lt;p&gt;151&lt;/p&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div class="summary positive"&gt;6% &lt;i class="fa fa-arrow-up"&gt;&lt;/i&gt; this month&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      //****************************//
      //*********** jquery *********//
      //****************************//

      // Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      // Make card front & back side same
      $('.card').each(function() {
        var front = $('.card .front');
        var back = $('.card .back');
        var frontH = front.height();
        var backH = back.height();



        if (backH > frontH) {
          front.height(backH - 8);
        }
      });

      //generate pie charts
      $('.easypiechart').easyPieChart();

      //animate numbers on cards
      $("#orders-count").animateNumbers(Math.round( Math.random() * 1000 ));

      //update instance every 5 sec
      window.setInterval(function() {

        //animate numbers on cards
        $( '#orders-count' ).animateNumbers( Math.round( Math.random() * 1000 ) );

        //refresh every pie chart
        $('.easypiechart').each(function() {
          $(this).data('easyPieChart').update(Math.floor(100*Math.random()));
        });

      }, 5000);
      </pre>
                        <!-- /Source Code -->



                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="card-container col-lg-3 col-md-6 col-sm-12">
            <div class="card card-green hover">
                <div class="front">
                    <h1>Sales</h1>
                    <p id="sales-count">0</p>
                    <span class="fa-stack fa-2x pull-right">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-usd fa-stack-1x"></i>
                            <span class="easypiechart" data-percent="30" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#sales-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"></span>
                          </span>
                </div>
                <div class="back">
                    <ul class="inline divided">
                        <li>
                            <h1>Total Sales</h1>
                            <p>25,165</p>
                        </li>
                        <li>
                            <h1>Last Month</h1>
                            <p>3,154</p>
                        </li>
                    </ul>
                    <div class="summary positive">18% <i class="fa fa-arrow-up"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal03">
                        show code
                    </button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="codeModal03" tabindex="-1" role="dialog" aria-labelledby="cardCode03" aria-hidden="true">
            <div class="modal-dialog wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cardCode03">Sales Card - Source Code</h4>
                    </div>
                    <div class="modal-body">



                        <!-- Source Code -->
                        <pre class="prettyprint linenums">
      //card container
      &lt;div class="card-container col-lg-3 col-md-6 col-sm-12"&gt;

        //define card color with .card-green
        &lt;div class="card card-green hover"&gt;

          //front side of card
          &lt;div class="front"&gt;
            &lt;h1&gt;Sales&lt;/h1&gt;
            &lt;p id="sales-count"&gt;0&lt;/p&gt;

            //icon circle
            &lt;span class="fa-stack fa-2x pull-right"&gt;
              &lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;
              &lt;i class="fa fa-usd fa-stack-1x"&gt;&lt;/i&gt;

              //chart around icon
              &lt;span class="easypiechart" data-percent="30" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#sales-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"&gt;&lt;/span&gt;
            &lt;/span&gt;
          &lt;/div&gt;

          //back side of card
          &lt;div class="back"&gt;
            &lt;ul class="inline divided"&gt;
              &lt;li&gt;
                &lt;h1&gt;Total Sales&lt;/h1&gt;
                &lt;p&gt;25,165&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;h1&gt;Last Month&lt;/h1&gt;
                &lt;p&gt;3,154&lt;/p&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div class="summary positive"&gt;18% &lt;i class="fa fa-arrow-up"&gt;&lt;/i&gt; this month&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      //****************************//
      //*********** jquery *********//
      //****************************//

      // Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      // Make card front & back side same
      $('.card').each(function() {
        var front = $('.card .front');
        var back = $('.card .back');
        var frontH = front.height();
        var backH = back.height();



        if (backH > frontH) {
          front.height(backH - 8);
        }
      });

      //generate pie charts
      $('.easypiechart').easyPieChart();

      //animate numbers on cards
      $("#sales-count").animateNumbers(Math.round( Math.random() * 1000 ));

      //update instance every 5 sec
      window.setInterval(function() {

        //animate numbers on cards
        $( '#sales-count' ).animateNumbers( Math.round( Math.random() * 1000 ) );

        //refresh every pie chart
        $('.easypiechart').each(function() {
          $(this).data('easyPieChart').update(Math.floor(100*Math.random()));
        });

      }, 5000);
      </pre>
                        <!-- /Source Code -->



                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="card-container col-lg-3 col-md-6 col-sm-12">
            <div class="card card-orange hover">
                <div class="front">
                    <h1>Visits</h1>
                    <p id="visits-count">0</p>
                    <span class="fa-stack fa-2x pull-right">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-eye fa-stack-1x"></i>
                            <span class="easypiechart" data-percent="90" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#visits-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"></span>
                          </span>
                </div>
                <div class="back">
                    <ul class="inline divided">
                        <li>
                            <h1>Total Visits</h1>
                            <p>48,694</p>
                        </li>
                        <li>
                            <h1>Last Month</h1>
                            <p>9,514</p>
                        </li>
                    </ul>
                    <div class="summary negative">2% <i class="fa fa-arrow-down"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal04">
                        show code
                    </button>
                </div>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="codeModal04" tabindex="-1" role="dialog" aria-labelledby="cardCode04" aria-hidden="true">
            <div class="modal-dialog wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="cardCode04">Visits Card - Source Code</h4>
                    </div>
                    <div class="modal-body">



                        <!-- Source Code -->
                        <pre class="prettyprint linenums">
      //card container
      &lt;div class="card-container col-lg-3 col-md-6 col-sm-12"&gt;

        //define card color with .card-orange
        &lt;div class="card card-orange hover"&gt;

          //front side of card
          &lt;div class="front"&gt;
            &lt;h1&gt;Visits&lt;/h1&gt;
            &lt;p id="visits-count"&gt;0&lt;/p&gt;

            //icon circle
            &lt;span class="fa-stack fa-2x pull-right"&gt;
              &lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;
              &lt;i class="fa fa-eye fa-stack-1x"&gt;&lt;/i&gt;

              //chart around icon
              &lt;span class="easypiechart" data-percent="90" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#visits-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"&gt;&lt;/span&gt;
            &lt;/span&gt;
          &lt;/div&gt;

          //back side of card
          &lt;div class="back"&gt;
            &lt;ul class="inline divided"&gt;
              &lt;li&gt;
                &lt;h1&gt;Total Visits&lt;/h1&gt;
                &lt;p&gt;48,694&lt;/p&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;h1&gt;Last Month&lt;/h1&gt;
                &lt;p&gt;9,514&lt;/p&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div class="summary negative"&gt;2% &lt;i class="fa fa-arrow-down"&gt;&lt;/i&gt; this month&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      //****************************//
      //*********** jquery *********//
      //****************************//

      // Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      // Make card front & back side same
      $('.card').each(function() {
        var front = $('.card .front');
        var back = $('.card .back');
        var frontH = front.height();
        var backH = back.height();



        if (backH > frontH) {
          front.height(backH - 8);
        }
      });

      //generate pie charts
      $('.easypiechart').easyPieChart();

      //animate numbers on cards
      $("#visits-count").animateNumbers(Math.round( Math.random() * 1000 ));

      //update instance every 5 sec
      window.setInterval(function() {

        //animate numbers on cards
        $( '#visits-count' ).animateNumbers( Math.round( Math.random() * 1000 ) );

        //refresh every pie chart
        $('.easypiechart').each(function() {
          $(this).data('easyPieChart').update(Math.floor(100*Math.random()));
        });

      }, 5000);
      </pre>
                        <!-- /Source Code -->



                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    </div>

</section>

    <div class="col-md-6" >
        <section class="tile" >

            <div class="tile-header color greensea text-center">
                <button class="btn pull-left btn-black-transparent" type="button"><i class="fa fa-caret-square-o-down"></i>
                </button>
                <h1 class="small-uppercase">TODOs</h1>
            </div>

            <div class="tile-body">
                <input type="text" placeholder="Type new todo..." id="type_todo" class="grey-bg margin-vertical-15" style="width: 100%">
                <ul class="nolisttypes" id="todolist">
                    {{range $index, $val := .todos}}
                        <li><div class="checkbox check-cyan"><input type="checkbox" id="todo-{{$val.Id}}"><label for="todo-{{$val.Id}}">{{$val.Message}}</label></div></li>
                    {{end}}

                </ul>
            </div>

        </section>
    </div>
    <div class="col-md-6 text-center" >


        <section class="tile" >

            <div class="tile-header color greensea text-center">
                <button class="btn pull-left btn-black-transparent" type="button"><i class="fa fa-caret-square-o-down"></i>
                </button>
                <h1 class="small-uppercase">TimeLines</h1>
            </div>

            <div class="tile-body">

                <ol class="timeline">

                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> no time</span>
                                <h1>插件(so, dll?, 激发开发者加入开发)</h1>
                                <p>看是否可以动态加载so, dll 并且注册路由等功能. </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> no time</span>
                                <h1>标签功能改进<span class="label label-warning">todo</span></h1>
                                <p>细化标签功能, 数据在标签间传递, 无须直接指明数据名称. URL地址生成基于静态化路由规则. </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-coffee"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> no time</span>
                                <h1>文档模型<span class="label label-warning">todo</span></h1>
                                <p>添加一些默认字段, 并且禁止删除和修改.
                                    easyui的组件更替为bootstrap, 前端模型和分类联动性. 考虑前端级联调用不同模型的数据显示.
                                    默认搜索字段开放, 静态化路由规则开发.
                                    基于模型清除模板缓存文件. 添加一些默认的行为方法, 比如随机数字, 随机字符串, 联动选项, 随机提取关键字等功能. </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> 2020-03-26</span>
                                <h1>代码优化<span class="label label-success">doing</span></h1>
                                <p>测试内部多模块数据, 完善menu菜单入库数据. 页面按钮优化. 表单样式更改为bootstrap4, <b>model_publish.html</b>布局更改为左右布局. 可以发布文档到多个相同模型的分类里, 减少发布复杂度.  开发审核模块, 并且使用权限分割数据显示. </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> 2020-03-25</span>
                                <h1>缓存清理<span class="label label-hotpink">done</span></h1>
                                <p>可到后台 <b>缓存管理</b> 位置清理不需要的缓存, 比如切换主题, 模板文件需要重新生成. 模板文件修改数据调用需要清理缓存,均可在此模块刷新数据</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="pointer ">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> 2020-03-24</span>
                                <h1>前端静态<span class="label label-hotpink">done</span></h1>
                                <p>基于路由规则生成静态页面缓存到目录resources/pages/xxxx.html, 逻辑上判断静态文件直接展示静态. (可用nginx代理静态文件, 不存在转发给PineCMS生成), 动态数据可以通过api的方式调用出来.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="pointer greensea">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="el-container">
                            <div class="content">
                                <span class="time"><i class="fa fa-clock-o"></i> 2020-03-15</span>
                                <h1>标签开发<span class="label label-hotpink">done</span></h1>
                                <p>参考dedecms开发一部分标签, 挑选模板引擎为Jet, 支持参数化标签. 具体可以参考模板提供的案例. 大致可以分为, 每个标签内部暴露的变量均为<b>field</b>, 模型相关的表字段使用map方式调用, 如:<b>field["title"]</b>,  其他的均为: <b>field.FieldName</b></p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

        </section>



    </div>
</div>


<script>
    //todo's
    $("#type_todo").keyup(function (e) {
        let val =  $(this).val();
        if (e.keyCode === 13 && val) {
            $.post("/public/todo",{todo: val}, function (data){
                $(this).val('')
                $("#todolist").append(`<li><div class="checkbox check-cyan"><input type="checkbox"  id="todo-`+data.errmsg+`"><label for="todo-`+data.errmsg+`">`+val+`</label></div></li>`)
            })
        }
    })

    $('#todolist li label').on('click',function () {
        var that = $(this)
        let id = $(this).attr("for").replace("todo-", "")
        $.messager.confirm("todo提醒", "是否要完成此项任务, 点击后即删除", function (ret) {
            if (ret) {
                $.post("/public/todo",{id: id}, function (data) {
                    if (!data.errcode) {
                        that.toggleClass('done');
                        that.parent().remove();
                    }
                })
            }
        })
    });

</script>
