<section class="tile cornered">

    <div class="tile-header color red text-center">
        <button class="btn pull-left btn-black-transparent" type="button"><i class="fa fa-caret-square-o-down"></i>
        </button>
        <h1 class="small-uppercase">TODOs</h1>
        <div class="controls">
            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
            <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
    </div>

    <div class="tile-body">
        <input type="text" placeholder="Type new todo..." id="type_todo" class="grey-bg w100p margin-vertical-15">
        <ul class="nolisttypes" id="todolist">
            <li>
                <div class="checkbox check-cyan">
                    <input type="checkbox" value="1" id="todo-01">
                    <label for="todo-01">Make a backup</label>
                </div>
            </li>
            <li>
                <div class="checkbox check-cyan">
                    <input type="checkbox" checked="checked" value="1" id="todo-02">
                    <label for="todo-02" class="done">Send e-mail to Ici</label>
                </div>
            </li>
            <li>
                <div class="checkbox check-cyan">
                    <input type="checkbox" value="1" id="todo-03">
                    <label for="todo-03">Buy tickets</label>
                </div>
            </li>
        </ul>
    </div>

</section>

<script>
    //todo's
    $("#type_todo").keyup(function (e) {
        let idx = Math.ceil(Math.random() * 1000)
        if (e.keyCode === 13) {
            $("#todolist").append(`<li>
                <div class="checkbox check-cyan">
                    <input type="checkbox" value="1" id="todo-`+idx+`">
                    <label for="todo-`+idx+`">`+$(this).val()+`</label>
                </div>
            </li>`)
            $(this).val('')
            $.post("/b/public/todos",{todos: $("#todolist").html()}, function (data) {})
        }
    })

    $('#todolist li label').click(function () {
        $(this).toggleClass('done');
    });

</script>
