{{ .dataGrid }}

<div id="link_list_add_dialog" class="easyui-dialog" title="添加链接"
     data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){linkListAddDialogFormSubmit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#link_list_add_dialog').dialog('close');}}]"
     style="width:600px;height:480px;"></div>

<!-- 编辑管理员 -->
<div id="link_list_edit_dialog" class="easyui-dialog" title="编辑链接"
     data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){linkListEditDialogFormSubmit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#link_list_edit_dialog').dialog('close');}}]"
     style="width:600px;height:480px;"></div>

<script type="text/javascript">
    var link_list_datagrid_toolbar = [
        {text: '添加', iconCls: 'icons-arrow-add', handler: linkListAdd},
        {text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: linkListRefresh},
        {text: '排序', iconCls: 'icons-arrow-arrow_down', handler: linkListOrder}
    ];

    function linkListEnabledFormatter(val) {
        return val == 1 ? "是" : "否"
    }

    //操作格式化
    function linkListOptFormatter(val) {
        var btn = [];
        btn.push('<a href="javascript:;" onclick="linkListEdit(' + val + ')">编辑</a>');
        btn.push('<a href="javascript:;" onclick="linkListDelete(' + val + ')">删除</a>');
        return btn.join(' | ');
    }

    //刷新
    function linkListRefresh() {
        $('#link_list_datagrid').datagrid('reload');
    }
    //添加
    function linkListAdd() {
        $('#link_list_add_dialog').dialog({href: '/b/link/add'});
        $('#link_list_add_dialog').dialog('open');
    }
    //编辑
    function linkListEdit(id) {
        if (typeof(id) !== 'number') {
            $.messager.alert('提示信息', '未选择管理员', 'error');
            return false;
        }
        var url = '/b/link/edit?id=' + id;
        $('#link_list_edit_dialog').dialog({href: url});
        $('#link_list_edit_dialog').dialog('open');
    }

    function linkListOrderFormatter(val, arr) {
        return '<input class="link_list_order_input" type="text" name="order" value="' + val + '" size="3" style="text-align:center">' +
            '<input class="link_list_order_input" type="hidden" name="id" value="'+ arr['linkid'] +'"/>';
    }

    function linkListLogoFormatter(val) {
        return val ? '<img src="'+val+'" style="width: 20px;height: 20px;"/>' : ''
    }

    function linkListOrder() {
        $.post("/b/link/order", $('.link_list_order_input').serialize(), function (res) {
            if (res.errcode) {
                $.messager.alert('提示信息', res.errmsg, 'error');
            } else {
                $.messager.alert('提示信息', res.errmsg, 'info');
                linkListRefresh();
            }
        }, 'json');
    }

    //删除
    function linkListDelete(id) {
        if (typeof(id) !== 'number') {
            $.messager.alert('提示信息', '未选择管理员', 'error');
            return false;
        }
        $.messager.confirm('提示信息', '确定要删除吗？', function (result) {
            if (!result) return false;
            $.get('/b/link/delete', {id: id}, function (res) {
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    linkListRefresh();
                }
            }, 'json');
        });
    }
</script>