{{ .dataGrid }}
<style>
    .dialogtable {
        width: 100%;
    }

    .dialogtable td {
        border-width: 0 1px 1px 0;
        border-style: dotted;
        border-color: #ccc;
        padding: 5px;
    }

    .dialogtable input[type="text"] {
        height: 20px;
        width: 180px;
    }

</style>
<div id="model_list_datagrid_toolbar" style="padding:5px;height:auto">
    <a href="javascript:;" onclick="addModel();" class="easyui-linkbutton" iconCls="icons-arrow-add">添加模型</a>
</div>

<!-- 查看详细信息 -->

<script type="text/javascript">
    const member_list =  $('#model_list_datagrid');

    //添加模型
    function addModel() {
        var url = "/b/model/add";
        openUrl(url, "添加模型");
    }


    //参数格式化
    function optFormatter(val) {
        return '<a href="javascript:;" onclick="editMemberInfo(' + val + ');">编辑</a>';
    }

    function enabledFormatter(val) {
        return val == 1 ? '启用' : '关闭';
    }

</script>