{{ .dataGrid }}
<style>
    .dialogtable {
        width: 100%;
    }

    .dialogtable td {
        border-width: 0 1px 1px 0;
        border-style: dotted;
        border-color: #ccc;
        padding: 5px;
    }

    .dialogtable input[type="text"] {
        height: 20px;
        width: 180px;
    }

</style>
<div id="model_list_datagrid_toolbar" style="padding:5px;height:auto">
    <a href="javascript:;" onclick="addModel();" class="easyui-linkbutton" iconCls="icons-arrow-add">添加模型</a>
</div>

<div id="model_field_list_dialog" class="easyui-dialog" title="编辑列表页显示字段"
     data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){modelFieldShowInListPageFormSubmit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#model_field_list_dialog').dialog('close');}}]"
     style="width:100%;height:100%;"></div>


<!-- 查看详细信息 -->

<script type="text/javascript">
    const member_list = $('#model_list_datagrid');

    function editModelFieldShowInList(mid) {
        if (typeof(mid) !== 'number') mid = 0;
        var url = "/b/model/list-field-show";
        url += '?mid=' + mid;
        $('#model_field_list_dialog').dialog({href: url});
        $('#model_field_list_dialog').dialog('open');
    }

    //添加模型
    function addModel() {
        $("#pagetabs").tabs("close", "修改模型");
        var url = "/b/model/add";
        openUrl(url, "添加模型");
    }

    var curIsSystemModel = false

    function systemFormatter(isSystem) {
        curIsSystemModel = isSystem == 1
        return curIsSystemModel ? '是' : '否';
    }

    //参数格式化
    function optFormatter(val) {
        var link = '<a href="javascript:;" onclick="editModelFieldShowInList(' + val + ');">列表显示字段</a> | ';
        if (curIsSystemModel) {
             link +=  '<a href="javascript:;" onclick="editModel(' + val + ');" title="系统模型不可删除不可修改">查看</a> | <a href="javascript:;" disabled="disabled" style="color: #ccc;">删除</a>';
        } else {
             link += '<a href="javascript:;" onclick="editModel(' + val + ');">编辑</a> | <a href="javascript:;" onclick="delModel(' + val + ');">删除</a>';
        }
        return link + ' ';
    }

    function enabledFormatter(val) {
        return val == 1 ? '启用' : '关闭';
    }

    function editModel(id) {
        $("#pagetabs").tabs("close", "添加模型");
        var url = "/b/model/edit?mid=" + id;
        openUrl(url, "修改模型");
    }

    function delModel(id) {
        $.messager.confirm("Confirm", "确定要删除模型吗, 删除以后数据表不会被删除,只是一种隐藏状态.", function (r) {
            if (r) {
                $.get('/b/model/delete', {id: id}, function (res) {
                    if (res.errcode) {
                        $.messager.alert('提示信息', res.errmsg, 'error');
                    } else {
                        $('#model_list_datagrid').datagrid('reload');
                        $.messager.alert('提示信息', res.errmsg, 'info');
                    }
                }, 'json');
            }
        })
    }
</script>