<div class="easyui-panel" data-options="fit:true,title:'{{.title}}',border:false">
    <form id="admin_public_editpwd_form">
        <table cellspacing="10" class="mdoutable">
            <tr>
                <td width="90">模型名称：</td>
                <td colspan="2"><input type="text" style="width:180px;height:22px" name="name" /> </td>
            </tr>

            <tr>
                <td>模型Table：</td>
                <td colspan="2"> <input type="text" style="width:180px;height:22px" name="table" /> </td>
            </tr>

            <tr>
                <td>是否启用：</td>
                <td colspan="2"> <input type="radio" value="1" name="enabled"/>是&nbsp;&nbsp;&nbsp;<input type="radio" value="0" name="enabled" />否 </td>
            </tr>

            <tr>
                <td>模型定义：</td>
                <td colspan="2">

                    <table cellspacing="10" class="mdoutable">
                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源，自定义或填写数据地址" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>




                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="text" placeholder="字段名称" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2">
                                <select name="" id="" style="width:180px;height:22px;border: 1px solid #dddddd;">
                                    {{range $index,$ele := .list}}
                                        <option value="">{{ $ele.Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td colspan="2"><input type="text" placeholder="是否必填" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="自定义html" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="数据源,自定义或填写数据地址" style="width:180px;height:22px" name="name" /> </td>
                            <td colspan="2"><input type="text" placeholder="验证器" style="width:180px;height:22px" name="name" /> </td>
                        </tr>



                    </table>





                </td>
            </tr>
            <tr>
                <td colspan="3"><a id="admin_public_editpwd_form_submit" class="easyui-linkbutton">提交</a></td>
            </tr>
        </table>
    </form>
</div>
