<script type="text/javascript" src="{{.staticDir}}/js/easyui/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{.staticDir}}/css/metro.css" title="metro" />
<script type="text/javascript" src="{{.staticDir}}/js/jquery.json.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{.staticDir}}/css/icons.css" />
<link rel="stylesheet" type="text/css" href="{{.staticDir}}/js/easyui/insdep.easyui.min.css" title="metro" />
<link rel="stylesheet" type="text/css" href="{{.staticDir}}/js/easyui/insdep.theme_default.css" title="metro" />
<script type="text/javascript" src="{{.staticDir}}/js/easyui/jquery.easyui.min.js"></script>
{{/*<script type="text/javascript" src="/assets/backend/static/js/easyui/insdep.extend.min.js"></script>*/}}
<script type="text/javascript" src="{{.staticDir}}/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="{{.staticDir}}/js/formvalidator/formValidator.js"></script>
<script type="text/javascript" src="{{.staticDir}}/js/formvalidator/formValidatorRegex.js"></script>
<script type="text/javascript" src="{{.staticDir}}/js/jquery.serializeObject.min.js"></script>
<script type="text/javascript">
    initConfig_setting.theme = 'App';
    var wsConn;
</script>
<!--


-->
