<link href="/assets/backend/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/assets/backend/umeditor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/backend/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/backend/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/assets/backend/umeditor/lang/zh-cn/zh-cn.js"></script>
