<link rel="stylesheet" type="text/css" href="/assets/backend/static/css/admin/metro.css" title="metro" />
<script type="text/javascript" src="/assets/backend/static/js/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assets/backend/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/backend/static/js/jquery.json.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/backend/static/css/icons.css" />
<link rel="stylesheet" type="text/css" href="/assets/backend/static/js/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/assets/backend/static/js/easyui/themes/metro/easyui.css" title="metro" />
<script type="text/javascript" src="/assets/backend/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assets/backend/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assets/backend/static/js/formvalidator/formValidator.js"></script>
<script type="text/javascript" src="/assets/backend/static/js/formvalidator/formValidatorRegex.js"></script>
<script type="text/javascript">initConfig_setting.theme = 'App';</script>
<!--


-->