<style>
    #tail-log {
        font-size: 12px;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    #tail-log > pre{
        font-size: 14px;
        display: block;
        line-height: 1.428571429;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        border: none;
        background-color: #f5f5f5;
    }
</style>

<div id="tail-log" CONTENTEDITABLE="true"></div>


<script>
    if (!wsConn) {
       openWs()
    }
    var timeIntervaler = null
    wsConn.onclose = function (evt) {
        $("#tail-log").append("<pre>远程已关闭</pre>")
        timeIntervaler = setInterval(function () {
            openWs()
        }, 3000)
    };
    wsConn.onmessage = function (evt) {
        $("#tail-log").append("<pre>"+evt.data+"</pre>")
        console.log(evt.data)
        try {
            document.getElementById("tail-log").scrollTop = document.getElementById("tail-log").scrollHeight;
        } catch (e) {}
    };

    function openWs() {
        $("#tail-log").html("<pre>正在连接服务器</pre>")
        wsConn = new WebSocket("ws://" + document.location.host + "/b/system/ws-connection");
        if (wsConn) {
            $("#tail-log").html("<pre>连接服务器成功</pre>")
            clearInterval(timeIntervaler)
        } else {
            $("#tail-log").append("<pre>连接失败, 稍后重试</pre>")
        }

    }
</script>
