mysql:
  db_name: "iriscms"
  db_charset: "utf8"
  db_user: "root"
  db_pass: "root"
  db_server: "127.0.0.1"
  db_port: "3306"

orm:
  show_sql: true
  show_exec_time: true
  max_open_conns: 10
  max_idle_conns: 10
