/* General styles for all menus */
.cbp-spmenu {
	background:#898989;
	position: fixed;
}
.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	background: #000;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	text-decoration:none;
	text-align:center;
}

.cbp-spmenu a:hover {
	background: #fff;
	color: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}

.cbp-spmenu a.active {
	background:#c3a000;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 150px;
	height: 380px;
	top: 22%;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	padding: 1em;
	font-family: 'Montserrat', sans-serif;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: right;
}

.cbp-spmenu-horizontal a {
	float: right;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	left: -240px;
}

.cbp-spmenu-left {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	left: 0px;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media (max-width:640px){
	.cbp-spmenu-vertical {		
		top: 15%;
	}
}
@media (max-width:480px){
	.cbp-spmenu-vertical {		
		width:120px;
		height:261px;
		top: 13%;
	}
	.cbp-spmenu h3 {
		font-size: 1.2em;
		padding: 10px;
	}
	.cbp-spmenu a{
		padding:10px;
		font-size:0.875em;
	}
	ul.menu-top {
		padding: 0;
	}
}
@media only screen and (max-width: 768px)
{
	.cbp-spmenu-vertical {
		top: 20%;
	}
}

