body,html{
	padding:0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	}
/*-- banner --*/
.banner{
	background: #34bf49;
	background-size:cover;
	width:100%;
	min-height:900px;
	}
.head-logo{
	float:left;
	margin: 0 0 0 3em;
	}
.head-logo a{
	display:block;
	}
button.navig {
	width: 27px;
	height: 20px;
	background: url(../images/menu.png) no-repeat 0px 0px;
	display: block;
	outline: none;
	border: 0;
	position: fixed;
	left: 15%;
	top: 8%;
	z-index: 9;
}
.navi {
	padding-top: 2em;
	padding-bottom: 2em;
	}
.logo{
	float:left;
	margin-left:33em;
	}
.icons{
	float:right;
	}
.icons ul{
	padding:0;
	margin:0;
	}
.icons ul li{
	display:inline-block;
	}
.icons ul li a.facebook{
	background:url(../images/1.png) no-repeat 0px 0px;
	display:block;
	height: 32px;
	width: 40px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.facebook:hover{
	background:url(../images/1.png) no-repeat 0px -41px;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.twitter{
	background:url(../images/1.png) no-repeat -37px 0px;
	display:block;
	height: 32px;
	width: 40px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.twitter:hover{
	background:url(../images/1.png) no-repeat -37px -41px;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.google{
	background:url(../images/1.png) no-repeat -81px 2px;
	display:block;
	height: 32px;
	width: 40px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.google:hover{
	background:url(../images/1.png) no-repeat -81px -43px;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.p{
	background:url(../images/1.png) no-repeat -122px 3px;
	display:block;
	height: 32px;
	width: 40px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.icons ul li a.p:hover{
	background:url(../images/1.png) no-repeat -122px -44px;
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.banner-info{
	margin-top:8em;
	text-align:center;
	}
.banner-info h3{
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	font-style:normal;
	font-size: 50px;
	font-weight: 700;
	margin:0;
	}
.banner-info p{	
	color:#000;
	font-size: 21px;
	margin: 1em auto 2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	width: 48%;
	}
.get{
	text-align:center;
	}
.get a{
	border:2px solid #000;
	font-size: 21px;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	padding: 15px 75px;
	text-decoration: none;
	background: #FFD900;
	font-weight: 700;
	}
.get a:hover{
	color:#fff;
	text-decoration:none;
	}
.icon-1 {
	text-align:center;
	margin-top: 7.5em;
	}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.banner-bottom h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.banner-bottom p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.banner-bottom p.para span{
	display:block;
	}
.banner-bottom-grid{
	float:left;
	width:30%;
	}
.banner-bottom-grid:nth-child(2){
	margin:0 4em;
	}
.banner-bottom-grid:nth-child(6){
	margin:0 4em;
	}
.fig{
	float:left;
	width: 10%;
	}
.fig img{
	width:100%;
	}
.banner-bottom-grid-text{
	float:left;
	width:60%;
	margin-left:2em;
	}
.banner-bottom-grid-text h5{
	font-size: 20px;
	font-weight: 700;
	margin:0 0 .5em;
	color:#000;
	}
.banner-bottom-grid-text p{
	color:#898989;
	font-size:16px;
	margin:0;
	}
.banner-bottom-grid1{
	margin-bottom:6em;
	}
/*-- //banner-bottom --*/
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*-- pricing --*/
.pricing{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.pricing h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.pricing p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.pricing p.para span{
	display:block;
	}
.pricing-grid{
	float:left;
	width:30%;
	text-align:center;
	}
.pricing-grid:nth-child(2){
	margin:0 4em;
	}
.pricing-gri {
	width: 35%;
	margin: 0 auto;
	background: #EBEBEB;
	border-radius: 100%;
	padding: 35px 0px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.pricing-gri:hover {
	background:#000;
	}
.figure span{
	background:url(../images/a-.png) no-repeat 40px 0px;
	display:block;
	height:46px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.figure1 span{
	background:url(../images/b-.png) no-repeat 30px 0px;
	display:block;
	height:46px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.figure2 span{
	background:url(../images/c-.png) no-repeat 26px 0px;
	display:block;
	height:46px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.pricing-gri:hover div.figure span{
	background:url(../images/a-.png) no-repeat 40px -76px;
	}
.pricing-gri:hover div.figure1 span{
	background:url(../images/b-.png) no-repeat 30px -84px;
	}
.pricing-gri:hover div.figure2 span{
	background:url(../images/c-.png) no-repeat 26px -73px;
	}
.pricing-grid h4{
	color:#000;
	font-weight:700;
	margin:1em 0;
	font-size:25px;
	}
.pricing-grid p{
	font-size:15px;
	margin:0;
	color:#898989;
	}
.pricing-grid p span{
	display:block;
	margin-top:.5em;
	}
.pricing-grid h5{
	font-size: 30px;
	background: url(../images/line.png) no-repeat 145px 43px;
	height: 46px;
	font-weight: 800;
	margin:1em 0 .3em;
	color: #000;
	}
.pricing-grid p.para1{
	font-size:16px;
	margin:0 0 3em;
	color:#898989;
	}
.hover{
	text-align:center;
	}
.hover a{	
	padding:10px 25px;
	border:2px solid #000;
	color:#000;
	font-size:20px;
	font-weight:700;
	text-decoration:none;
	background: #FFD900;
	}
.hover a:hover{
	text-decoration:none;
	color:#fff;
	border:2px solid #fff;
	}
/*-- //pricing --*/
/*-- work --*/
#work{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.portfolio-info h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.portfolio-info p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.portfolio-info p.para span{
	display:block;
	}
.portfolio-wrapper h4{
	color:#000;
	font-size: 25px;
	margin:1em 0 0.1em;
	text-align: center;
	font-weight: 800;
	}
.b-animate-go:hover div.portfolio-wrapper h3{
	color:#ffffff;
	}
.portfolio-wrapper p.parag{
	color:#898989;
	font-size:16px;
	margin:0 0 3em;
	text-align: center;
	}
/*----- Strip -----*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/*------------------------------------------*/
/*	Animation effects
/*------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	
}
.b-animate img{
	margin-top:36%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	display: none;
	padding: 0px;
	margin: 0;
	text-align: center;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
	background: #222;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
	display: none;
	border-radius: 4px;
	padding: 6px 12px;
	text-decoration: none;
	color:#75728A;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	margin: 0 10px 0 0;
	}
	#filters li span.active,#filters li span:hover {
	background: none;
	color: #ffffff;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 23%;
		margin: 1.13em;
		display:none;
		float:left;
		overflow:hidden;
	}
	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.eye-clock{
	margin-top: 4.5em;
	padding: 0 1em;
	}
.eye-clock1{
	position:absolute;
	top: 92%;
	left: 3%;
	right: 3%;
	}
.eye{
	float:left;
	}
.eye p{
	background:url(../images/eye.png) no-repeat 0px 0px;
	display:block;
	height:15px;
	color:#fff;
	font-size:14px;
	margin:0;
	padding-left: 27px;
	}
.clock{
	float:right;
	}
.clock p{
	background:url(../images/clock.png) no-repeat 0px -1px;
	display:block;
	height:20px;
	color:#fff;
	font-size:14px;
	margin:0;
	padding-left: 27px;
	}
/*-- //work --*/
/*-- team --*/
.team{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.team h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.team p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.team p.para span{
	display:block;
	}
.team-grid{
	float:left;
	width:20%;
	text-align:center;
	}
.team-grid:nth-child(2){
	margin:0 5em;
	}
.team-grid:nth-child(3){
	margin-right:5em;
	}
.team-fig span{
	background:url(../images/10.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig span:hover{
	background:url(../images/glasses.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig1 span{
	background:url(../images/9.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig1 span:hover{
	background:url(../images/glasses.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig2 span{
	background:url(../images/10.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig2 span:hover{
	background:url(../images/glasses.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig3 span{
	background:url(../images/11.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-fig3 span:hover{
	background:url(../images/glasses.png) no-repeat 49px 0px;
	display:block;
	height:128px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-grid h4{
	color:#000;
	font-size:25px;
	font-weight:600;
	margin:2em 0 .5em;
	}
.team-grid p.paragra{
	margin:0;
	color:#898989;
	font-size:16px;
	}
.team-grid p{
	color:#313841;
	font-size:14px;
	margin:1em 0;
	}
.team-grid p span{
	display:block;
	}
.team-icons ul{
	padding:0;
	margin:0;
	}
.team-icons ul li{
	display:inline-block;
	}
.team-icons ul li a.face{
	background:url(../images/12.png) no-repeat 0px 0px;
	display:block;
	height: 33px;
	width: 33px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-icons ul li a.face:hover{
	background:url(../images/12.png) no-repeat 0px -40px;
	display:block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-icons ul li a.twi{
	background:url(../images/12.png) no-repeat -36px 0px;
	display:block;
	height: 33px;
	width: 33px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-icons ul li a.twi:hover{
	background:url(../images/12.png) no-repeat -36px -38px;
	display:block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-icons ul li a.in{
	background:url(../images/12.png) no-repeat -75px 0px;
	display:block;
	height: 33px;
	width: 33px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.team-icons ul li a.in:hover{
	background:url(../images/12.png) no-repeat -75px -38px;
	display:block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
/*-- team --*/
/*-- testimonials --*/
.testimonials{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.testimonials h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.testimonials p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.testimonials p.para span{
	display:block;
	}
.testimonials-grids{
	width:65%;
	margin:0 auto;
	margin-bottom:3em;
	}
.testimonials-grid{
	float:left;
	width:23%;
	text-align:center;
	}
.testimonials-grid:nth-child(2){
	margin:0 1em;
	}
.testimonials-grid:nth-child(3){
	margin-right:1em;
	}
.testimonials-fig span{
	background:url(../images/13.png) no-repeat 68px 0px;
	display:block;
	height:43px;
	}
.testimonials-fig1 span{
	background:url(../images/14.png) no-repeat 68px 0px;
	display:block;
	height:43px;
	}
.testimonials-fig2 span{
	background:url(../images/15.png) no-repeat 63px 0px;
	display:block;
	height:43px;
	}
.testimonials-fig3 span{
	background:url(../images/16.png) no-repeat 68px 0px;
	display:block;
	height:43px;
	}
.testimonials-grid p{
	margin:1em 0 0;
	font-weight: 700;
	font-size: 30px;
	color:#000;
	}
.testimonials-grid p label{
	display:block;
	margin:0;
	color:#898989;
	font-size: 15px;
	font-weight: 300;
	}
.testimonials-slide{
	text-align:center;
	}
.testimonials-slide-fig h4{
	color:#000;
	font-size:25px;
	font-weight:600;
	margin:1em 0 .1em;
	}
.testimonials-slide-fig p.paragraph{
	margin:0;
	color:#898989;
	font-size:17px;
	}
.testimonials-slide-fig p.pa{
	margin:2em auto 0;
	color:#898989;
	font-size:20px;
	width:46%;
	position:relative;
	}
.testimonials-slide-fig p.pa:before {
	position: absolute;
	content: '';
	background: url(../images/17.png) no-repeat 0px 0px;
	height: 40px;
	display: block;
	width: 54px;
	top: -12%;
	left: -10%;
	}
.testimonials-slide-fig p.pa:after {
	position: absolute;
	content: '';
	background: url(../images/17.png) no-repeat 0px 0px;
	height: 40px;
	display: block;
	width: 54px;
	top: 55%;
	left: 106%;
	}
/*------------------ Slider Part starts Here----------*/
#slider3,
#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 72%;
	left: 14%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 50px;
	width: 31px;
	background: transparent url("../images/arr.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
}
#slider3-pager a ,#slider4-pager a{
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a{
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a{
  padding: 0;
}
#slider3-pager li,#slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width:100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: none;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 105%;
	z-index: 999;
	left: 45%;
	padding: 0;
	margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/backward.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .5em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:17px;
  width:17px;
  display:inline-block;
  background: #494D1A;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background: #DEEF10;
}
/*------------------ Slider Part ends Here----------*/
/*-- testimonials --*/
/*-- contact --*/
.contact{
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.contact h3{
	color:#000;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.contact p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.contact p.para span{
	display:block;
	}
.contact-grid{
	float:left;
	width:30%;
	text-align:center;
	}
.dot span{	
	background:url(../images/dot.png) no-repeat 100px 0px;
	display:block;
	height:20px;
	}
.mail span{	
	background:url(../images/mes.png) no-repeat 100px 0px;
	display:block;
	height:20px;
	}
.call span{	
	background:url(../images/call.png) no-repeat 100px 0px;
	display:block;
	height:20px;
	}
.contact-grid p{
	color:#000;
	font-size:27px;
	margin:1em 0 0;
	}
.contact-grid p label{
	display:block;
	width: 77%;
	font-size: 14px;
	margin: 0 auto;
	font-weight:400;
	color:#898989;
	}
.contact-grids{
	width:65%;
	margin:0 auto 6em;
	}
.contact-grid:nth-child(2){
	margin:0 2em;
	}
.contact-grid a{
	color:#000;
	text-decoration:none;
	display:block;
	font-size: 14px;
	font-weight:400;
	}
.contact-grid a:hover{
	text-decoration:none;
	color:#898989;
	}
.contact-contact {
	text-align:center;
	}
.contact-contact input[type="text"],.contact-contact textarea{
	outline:none;
	border:2px solid #000;
	background:none;
	padding:10px 20px;
	font-size:15px;
	width:40%;
	margin:0 auto;
	}
.contact-contact input[type="text"]:nth-child(2) {
	margin: 1.5em auto;
	display: block;
	}
.contact-contact textarea{
	resize:none;
	height:200px;
	margin-bottom:2.5em;
	}
.contact-contact input[type="submit"]	{
	outline:none;
	background:#000;
	color:#fff;
	font-size:18px;
	font-weight:600;
	width: 16%;
	padding: 15px 0;
	display:block;
	text-align:center;
	margin:0 auto;
	border:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.contact-contact input[type="submit"]:hover{
	color:#fff;
	background:#898989;
	}
/*-- //contact --*/
/*-- footer --*/
.footer{
	background:#000;
	padding:6em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	}
.footer h3{
	color:#fff;
	font-size: 30px;
	margin: 0;
	text-align: center;
	font-weight: 800;
	}
.footer p.para{
	color:#898989;
	font-size:18px;
	margin:1em 0 5em;
	text-align: center;
	}
.footer p.para span{
	display:block;
	}
.footer-contact input[type="text"]{
	outline:none;
	border:none;
	background:#fff;
	padding:13px 20px;
	font-size:15px;
	width:80%;
	margin:0 auto;
	float:left;
	}
.footer-contact input[type="submit"]	{
	outline:none;
	background:#fff;
	color:#000;
	font-size:18px;
	font-weight:600;
	float:left;
	width: 18%;
	padding: 11px 0;
	display: block;
	text-align: center;
	margin-left: .5em;
	border:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
.footer-contact input[type="submit"]:hover{
	color:#fff;
	background:#898989;
	}
.footer-contact{
	width:60%;
	margin:0 auto 5em;
	}
.footer-grid{
	float:left;
	width:18%;
	}
.footer-grid p{
	color:#fff;
	font-size:16px;
	margin:0;
	}
.footer-grid p span{
	display:block;
	}
.footer-grid a{
	color:#fff;
	font-size:16px;
	margin:0;
	text-decoration:none;
	}
.footer-grid a:hover{
	text-decoration:none;
	color:#898989;
	}
.footer-grid:nth-child(2){
	margin:0 3em;
	}
.footer-grid:nth-child(4){
	margin:0 1em;
	}
p.copy{
	margin:2em 0 0;
	text-align:center;
	color:#fff;
	font-size:18px;
	}
p.copy a{
	color:#898989;
	font-size:18px;
	text-decoration:none;
	}
p.copy a:hover{
	color:#fff;
	text-decoration:none;
	}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive-media --*/
@media only screen and (max-width:1440px)
{
	#portfoliolist .portfolio {
		width: 22.75%;
	}
	.b-animate img {
		margin-top: 28%;
	}
	button.navig {
		top: 8.5%;
	}
}
@media only screen and (max-width: 1366px)
{
	button.navig {
		top: 10%;
	}
	#portfoliolist .portfolio {
	  width: 22.63%;
	}
	.eye-clock {
		margin-top: 4em;
	}
}
@media only screen and (max-width: 1280px)
{
	button.navig {
	  top: 10%;
	}
	.banner-info {
		margin-top: 18em;
	}
	.banner {
	  min-height: 855px;
	}
	.banner-bottom {
		padding: 5em 0;
	}
	.banner-bottom p.para {
		margin: 1em 0 4em;
	}
	.banner-bottom-grid1 {
	  margin-bottom: 5em;
	}
	.pricing {
		padding: 5em 0;
	}
	#work {
		padding: 5em 0;
	}
	#portfoliolist .portfolio {
	  width: 22.45%;
	}
	.eye-clock {
		margin-top: 3.7em;
	}
	.team {
		padding: 5em 0;
	}
	.testimonials {
		padding: 5em 0;
	}
	.contact {
		padding: 5em 0;
	}
	.footer {
		padding: 5em 0;
	}
}
@media only screen and (max-width: 1024px)
{
	.logo {
		margin-left: 27em;
	}
	button.navig {
	  top: 9%;
	  left:5%;
	}
	.banner-info h3 {
		font-size: 40px;
	}
	.banner-info p {
	  font-size: 19px;
	  margin: .5em auto 2em;
	}
	.banner-info {
	  margin-top: 16em;
	}
	.get a {
	  font-size: 19px;
	  padding: 13px 60px;
	}
	.banner {
	  min-height: 780px;
	}
	.banner-bottom {
	  padding: 4em 0;
	}
	.banner-bottom-grid:nth-child(2) {
	  margin: 0 3em;
	}
	.pricing {
	  padding: 4em 0;
	}
	.pricing-gri {
		width: 42%;
	}
	.pricing-grid:nth-child(2) {
	  margin: 0 3em;
	}
	.pricing p.para {
		margin: 1em 0 4em;
	}
	.pricing-grid h5 {
		background: url(../images/line.png) no-repeat 119px 43px;
	}
	.pricing-grid p.para1 {
		margin: 0 0 2em;
	}
	.hover a {
		font-size: 17px;
	}
	#work {
	  padding: 4em 0;
	}
	.portfolio-info p.para {
		margin: 1em 0 3em;
	}
	.eye-clock {
	  margin-top: 2.2em;
	}
	.eye-clock1 {
		top: 89%;
	}
	.portfolio-wrapper h4 {
		font-size: 21px;
	}
	#portfoliolist .portfolio {
	  width: 21.85%;
	}
	.portfolio-wrapper p.parag {
		margin: 0 0 0em;
	}
	.team {
	  padding: 3em 0;
	}
	.team-grid:nth-child(2) {
	  margin: 0 4em;
	}
	.testimonials {
	  padding: 3em 0;
	}
	.testimonials p.para {
		margin: 1em 0 4em;
	}
	.testimonials-fig1 span {
		background: url(../images/14.png) no-repeat 50px 0px;
	}
	.testimonials-fig span {
		background: url(../images/13.png) no-repeat 50px 0px;
	}
	.testimonials-fig2 span {
		background: url(../images/15.png) no-repeat 50px 0px;
	}
	.testimonials-fig3 span {
		background: url(../images/16.png) no-repeat 50px 0px;
	}
	.team-fig span {
		background: url(../images/10.png) no-repeat 38px 0px;
	}
	.team-fig1 span {
		background: url(../images/9.png) no-repeat 38px 0px;
	}
	.team-fig2 span {
		background: url(../images/10.png) no-repeat 38px 0px;
	}
	.team-fig3 span {
		background: url(../images/11.png) no-repeat 38px 0px;
	}
	.team-fig2 span:hover {
		background: url(../images/glasses.png) no-repeat 38px 0px;
	}
	.team-fig span:hover {
		background: url(../images/glasses.png) no-repeat 38px 0px;
	}
	.team-fig1 span:hover {
		background: url(../images/glasses.png) no-repeat 38px 0px;
	}
	.team-fig3 span:hover {
		background: url(../images/glasses.png) no-repeat 38px 0px;
	}
	.contact {
	  padding: 4em 0;
	}
	.contact p.para {
		margin: 1em 0 3em;
	}
	.contact-grid p {
		font-size: 25px;
		margin: .5em 0 0;
	}
	.testimonials-slide-fig p.pa {
		width: 52%;
	}
	.dot span {
		background: url(../images/dot.png) no-repeat 86px 0px;
	}
	.mail span {
		background: url(../images/mes.png) no-repeat 86px 0px;
	}
	.call span {
		background: url(../images/call.png) no-repeat 86px 0px;
	}
	.contact-grids {
	  margin: 0 auto 4em;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
		width: 50%;
	}
	.contact-contact input[type="submit"] {
		width: 23%;
	}
	.footer {
	  padding: 4em 0;
	}
	.footer-contact {
		width: 75%;
	}
	.footer-grid:nth-child(2) {
	  margin: 0 1em 0 3em;
	}
}
@media only screen and (max-width: 768px)
{
	.logo {
		margin-left: 18em;
	}
	.navi {
	  padding-top: 0em;
	}
	button.navig {
		top: 5.5%;
	}
	.banner-info {
	  margin-top: 12em;
	}
	.banner-info h3 {
	  font-size: 35px;
	}
	.banner-info p {
		font-size: 17px;
		width:55%;
		margin: .5em auto 1em;
	}
	.get a {
	  font-size: 17px;
	  padding: 10px 48px;
	}
	.icon-1 {
	  margin-top: 12em;
	}
	.banner {
	  min-height: 630px;
	}
	.banner-bottom-grid:nth-child(2) {
	  margin: 0 2em;
	}
	.banner-bottom-grid-text h5 {
		font-size: 16px;
	}
	.banner-bottom p.para {
	  margin: .5em 0 2em;
	  font-size: 17px;
	}
	.banner-bottom-grid-text p {
		font-size: 14px;
	}
	.banner-bottom h3 {
		font-size: 25px;
	}
	.banner-bottom-grid1 {
	  margin-bottom: 1em;
	}
	.pricing h3 {
		font-size: 25px;
	}
	.pricing {
	  padding: 2em 0;
	}
	.pricing p.para {
	  margin: .5em 0 2em;
	  font-size: 17px;
	}
	.pricing-gri {
		padding: 22px 0px;
	}
	.figure span {
		background: url(../images/a-.png) no-repeat 25px 0px;
	}
	.pricing-grid:nth-child(2) {
	  margin: 0 2em;
	}
	.pricing-gri:hover div.figure span {
	  background: url(../images/a-.png) no-repeat 25px -76px;
	}
	.pricing-gri:hover div.figure1 span {
	  background: url(../images/b-.png) no-repeat 14px -84px;
	}
	.figure1 span {
		background: url(../images/b-.png) no-repeat 14px 0px;
	}
	.pricing-gri:hover div.figure2 span {
	  background: url(../images/c-.png) no-repeat 13px -73px;
	}
	.figure2 span {
		background: url(../images/c-.png) no-repeat 13px 0px;
	}
	.pricing-grid h4 {
	  margin: .5em 0;
	  font-size: 20px;
	}
	.pricing-grid p span {
	  margin-top: 0;
	}
	.pricing-grid h5 {
		background: url(../images/line.png) no-repeat 85px 28px;
		font-size: 23px;
		height: 31px;
		margin: .5em 0 .3em;
	}
	.pricing-grid p.para1 {
	  margin: 0 0 1em;
	}
	.hover a {
	  font-size: 14px;
	  padding: 8px 18px;
	}
	.portfolio-info h3 {
		font-size: 25px;
	}
	.portfolio-info p.para {
	  margin: .5em 0 2em;
	  font-size: 17px;
	}
	#portfoliolist .portfolio {
		margin: 0.845em;
	}
	.portfolio-wrapper h4 {
	  font-size: 15px;
	}
	.portfolio-wrapper p.parag {
		font-size: 15px;
	}
	.b-animate img {
	  width: 17%;
	  margin-top: 17%;
	}
	.eye-clock {
	  margin-top: 2em;
	}
	.eye p {
	  background: url(../images/eye.png) no-repeat 0px 1px;
	  background-size: 45%;
	  display: block;
	  height: 15px;
	  color: #fff;
	  font-size: 11px;
	  margin: 0;
	  padding-left: 17px;
	}
	.clock p {
	  background: url(../images/clock.png) no-repeat 0px -1px;
	  background-size: 27%;
	  display: block;
	  height: 20px;
	  color: #fff;
	  font-size: 11px;
	  margin: 0;
	  padding-left: 17px;
	}
	.team h3 {
		font-size: 25px;
	}
	.team p.para {
	  font-size: 17px;
	  margin: .5em 0 3em;
	}
	.team-grid:nth-child(2) {
	  margin: 0 1em;
	}
	.team-grid {
		width: 23%;
	}
	.team-grid:nth-child(3) {
	  margin-right: 1em;
	}
	.team-fig span {
	  background: url(../images/10.png) no-repeat 23px 0px;
	}
	.team-fig1 span {
	  background: url(../images/9.png) no-repeat 23px 0px;
	}
	.team-fig2 span {
	  background: url(../images/10.png) no-repeat 23px 0px;
	}
	.team-fig3 span {
	  background: url(../images/11.png) no-repeat 23px 0px;
	}
	.team-fig span:hover {
	  background: url(../images/glasses.png) no-repeat 23px 0px;
	}
	.team-fig1 span:hover {
	  background: url(../images/glasses.png) no-repeat 23px 0px;
	}
	.team-fig2 span:hover {
	  background: url(../images/glasses.png) no-repeat 23px 0px;
	}
	.team-fig3 span:hover {
	  background: url(../images/glasses.png) no-repeat 23px 0px;
	}
	.team-grid h4 {
	  font-size: 22px;
	  margin: 1em 0 .5em;
	}
	.team-grid p.paragra {
	  font-size: 15px;
	}
	.team-grid p {
	  font-size: 13px;
	  margin: .5em 0;
	}
	.testimonials h3 {
		font-size: 25px;
	}
	.testimonials p.para {
	  margin: .5em 0 3em;
	  font-size:17px;
	}
	.testimonials-grids {
		width: 75%;
	}
	.testimonials-grid p {
	  margin: .5em 0 0;
	  font-size: 24px;
	}
	.testimonials-fig1 span {
	  background: url(../images/14.png) no-repeat 36px 0px;
	}
	.testimonials-fig2 span {
	  background: url(../images/15.png) no-repeat 38px 0px;
	}
	.testimonials-slide-fig h4 {
	  font-size: 20px;
	  margin: .5em 0 0em;
	}
	.testimonials-slide-fig p.pa {
		margin: 1em auto 0;
		font-size: 17px;
		width: 54%;
	}
	.testimonials-slide-fig p.pa:before {
		top: -20%;
	}
	.testimonials-slide-fig p.pa:after {
		top: 50%;
	}
	.contact h3 {
		font-size: 25px;
	}
	.contact p.para {
	  margin: .5em 0 3em;
	  font-size:17px;
	}
	.contact-grids {
		width: 80%;
	}
	.contact-grid p {
		font-size: 22px;
	}
	.mail span {
	  background: url(../images/mes.png) no-repeat 79px 0px;
	}
	.call span {
	  background: url(../images/call.png) no-repeat 81px 0px;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
	  width: 65%;
	}
	.contact-contact input[type="submit"] {
	  width: 30%;
	  font-size:16px;
	}
	.footer h3 {
		font-size: 25px;
	}
	.footer p.para {
	  font-size: 17px;
	  margin: .5em 0 3em;
	}
	.footer-contact input[type="submit"] {
	  font-size: 17px;
	  padding: 11.5px 0;
	}
	.footer-contact {
	  margin: 0 auto 4em;
	}
	.footer-grid p {
		font-size: 13px;
	}
	.footer-grid a {
		font-size: 13px;
	}
	.footer-grid:nth-child(4) {
	  margin: 0 0em;
	}
}
@media only screen and (max-width: 640px)
{
	.fig {
	  width: 20%;
	}
	.logo {
		margin-left: 13em;
	}
	.banner-info p {
		width: 66%;
	}
	.banner-bottom p.para {
	  font-size: 16px;
	}
	.fig img {
		width: 70%;
	}
	.banner-bottom-grid-text h5 {
	  font-size: 14px;
	  overflow: hidden;
	  height: 15px;
	}
	.banner-bottom-grid-text {
	  margin-left: 1em;
	}
	.banner-bottom-grid-text p {
	  overflow: hidden;
	  height: 78px;
	}
	.pricing p.para {
	  font-size: 16px;
	}
	.pricing-gri {
	  width: 51%;
	}
	.pricing-grid h5 {
		background: url(../images/line.png) no-repeat 65px 28px;
	}
	.portfolio-info p.para {
	  font-size: 16px;
	  margin: .5em 0 0em;
	}
	#portfoliolist .portfolio {
	  margin: 2em 2em 0;
	  width: 40%;
	}
	.eye-clock {
	  margin-top: 3em;
	}
	.b-animate img {
	  margin-top: 29%;
	}
	.team p.para {
		font-size: 16px;
		margin: .5em 0 2em;
	}
	.team-grid:nth-child(3) {
		display: none;
	}
	.team-grid {
		width: 31%;
	}
	.testimonials p.para {
	  margin: .5em 0 2em;
	  font-size: 16px;
	}
	.testimonials-grids {
	  width: 90%;
	  margin-bottom: 2em;
	}
	.testimonials-slide-fig p.pa {
	  width: 68%;
	}
	.contact p.para {
	  margin: .5em 0 2em;
	  font-size: 16px;
	}
	.contact-grids {
	  width: 100%;
	  margin: 0 auto 3em;
	}
	.contact-grid:nth-child(2) {
	  margin: 0 1em;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
	  width: 75%;
	}
	.contact-contact textarea {
	  margin-bottom: 1em;
	}
	.contact-contact input[type="submit"] {
	  width: 38%;
	  font-size: 15px;
	}
	.footer p.para {
	  font-size: 16px;
	  margin: .5em 0 2em;
	}
	.footer-contact input[type="submit"] {
	  font-size: 13px;
	  padding: 14.5px 0;
	}
}
@media only screen and (max-width: 480px)
{
	p.copy {
	  font-size: 13px;
	}
	p.copy a {
		font-size: 13px;
	}
	.logo {
		margin-left: 10em;
		margin-top: 0.5em;
	}
	.navi {
	  padding-bottom: 2em;
	}
	.logo a img {
		width: 73%;
	}
	.icons ul li a.facebook {
		width: 30px;
	}
	.icons ul li a.twitter {
		width: 30px;
	}
	.icons ul li a.google {
		width: 30px;
	}
	.icons ul li a.p {
		width: 30px;
	}
	.banner-info {
	  margin-top: 5em;
	}
	.banner-info h3 {
	  font-size: 30px;
	}
	.banner-info p {
	  width: 87%;
	  font-size: 16px;
	}
	.get a {
	  font-size: 15px;
	  padding: 8px 35px;
	}
	.icon-1 {
	  margin-top: 3em;
	}
	.banner {
	  min-height: 425px;
	}
	.banner-bottom {
	  padding: 2em 0;
	}
	.banner-bottom h3 {
		font-size: 22px;
	}
	.banner-bottom p.para {
	  font-size: 14px;
	  overflow: hidden;
	  height: 38px;
	}
	.banner-bottom-grid:nth-child(3) {
		display: none;
	}
	.banner-bottom-grid {
	  width: 43%;
	}
	.pricing h3 {
	  font-size: 22px;
	}
	.pricing p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	.pricing-grid:nth-child(2) {
	  margin: 0 1em;
	}
	.pricing-gri {
	  width: 71%;
	}
	.pricing-grid h4 {
	  font-size: 18px;
	}
	.pricing-grid p {
	  font-size: 14px;
	  overflow: hidden;
	  height: 39px;
	}
	.pricing-grid h5 {
	  background: url(../images/line.png) no-repeat 42px 28px;
	  font-size:19px;
	}
	.pricing-grid p.para1 {
	  margin: 0 0 0em;
	  font-size: 15px;
	}
	.hover a {
	  font-size: 13px;
	  padding: 6px 15px;
	}
	#work {
	  padding: 2em 0;
	}
	.portfolio-info h3 {
	  font-size: 22px;
	}
	.portfolio-info p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	#portfoliolist .portfolio {
		margin: 1.5em 1.65em 0;
	}
	.eye-clock {
	  margin-top: 2em;
	}
	.team h3 {
	  font-size: 22px;
	}
	.team {
	  padding: 2em 0;
	}
	.team p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	.team-grid:nth-child(4) {
		display: none;
	}
	.team-grid:nth-child(2) {
	  margin: 0 0em 0 1em;
	}
	.team-grid {
	  width: 47%;
	}
	.team-fig span {
	  background: url(../images/10.png) no-repeat 40px 0px;
	}
	.team-fig1 span {
	  background: url(../images/9.png) no-repeat 40px 0px;
	}
	.team-fig span:hover {
	  background: url(../images/glasses.png) no-repeat 40px 0px;
	}
	.team-fig1 span:hover {
	  background: url(../images/glasses.png) no-repeat 40px 0px;
	}
	.testimonials {
	  padding: 2em 0;
	}
	.testimonials h3 {
	  font-size: 22px;
	}
	.testimonials p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	.testimonials-grids {
		width: 100%;
	}
	.testimonials-grid:nth-child(2) {
	  margin: 0 .5em;
	}
	.testimonials-grid:nth-child(3) {
	  margin-right: 0em;
	}
	.testimonials-fig span {
	  background: url(../images/13.png) no-repeat 38px 0px;
	}
	.testimonials-fig1 span {
	  background: url(../images/14.png) no-repeat 30px 0px;
	}
	.testimonials-fig2 span {
	  background: url(../images/15.png) no-repeat 28px 0px;
	}
	.testimonials-fig3 span {
	  background: url(../images/16.png) no-repeat 33px 0px;
	}
	.testimonials-grid p {
	  font-size: 19px;
	}
	.testimonials-slide-fig p.paragraph {
	  font-size: 15px;
	}
	.testimonials-slide-fig p.pa {
	  width: 90%;
	  font-size:15px;
	}
	.testimonials-slide-fig p.pa:before {
	  top: -24%;
	  left:-6%;
	}
	.testimonials-slide-fig p.pa:after {
	  top: 47%;
	  left:99%;
	}
	.contact h3 {
	  font-size: 22px;
	}
	.contact p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	.contact-grid p {
	  font-size: 19px;
	}
	.contact-grid:nth-child(2) {
	  margin: 0 2em 0 0em;
	}
	.dot span {
	  background: url(../images/dot.png) no-repeat 65px 0px;
	}
	.mail span {
	  background: url(../images/mes.png) no-repeat 58px 0px;
	}
	.call span {
	  background: url(../images/call.png) no-repeat 60px 0px;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
		width: 90%;
	}
	.contact-contact input[type="submit"] {
	  width: 47%;
	  font-size: 14px;
	  padding: 12px 0;
	}
	.contact {
	  padding: 3em 0;
	}
	.footer h3 {
	  font-size: 22px;
	}
	.footer {
	  padding: 2em 0;
	}
	.footer p.para {
	  font-size: 15px;
	  overflow: hidden;
	  height: 40px;
	}
	.footer-contact input[type="text"] {
	  font-size: 15px;
	  width: 100%;
	  padding: 10px 13px;
	  float: none;
	}
	.footer-contact input[type="submit"] {
	  float: none;
	  width: 55%;
	  padding: 12px 0;
	  margin: 1em auto 0;
	}
}
@media only screen and (max-width: 320px)
{
	.banner-bottom-grid {
	  width: 50%;
	  margin: 0 auto;
	  text-align: center;
	  float:none;
	}
	.fig {
	  float: none;
	  margin: 0 auto 1em;
	}
	.icons {
		display: none;
	}
	.logo {
	  margin-left: 0;
	  margin-top: 0.5em;
	  text-align: right;
	}
	.logo a img {
	  width: 63%;
	}
	.navi {
	  padding-bottom: 1.4em;
	}
	.banner-info h3 {
	  font-size: 20px;
	}
	.banner-info p {
	  width: 100%;
	  font-size: 14px;
	}
	.banner-info {
	  margin-top: 4em;
	}
	.get a {
	  font-size: 13px;
	  padding: 6px 28px;
	}
	.icon-1 {
	  margin-top: 4em;
	}
	.banner {
	  min-height: 355px;
	}
	.banner-bottom h3 {
	  font-size: 20px;
	}
	.fig {
	  width: 25%;
	}
	.banner-bottom-grid-text h5 {
		font-size: 13px;
	}
	.banner-bottom-grid-text p {
	  font-size:13px;
	  height: 74px;
	}
	.banner-bottom-grid-text {
	  margin-left: 0em;
	}
	.banner-bottom-grid:nth-child(2) {
	 display: none;
	}
	.logo {
		float: right;
	}
	.banner-bottom-grid-text {
		width: 100%;
	}
	.pricing h3 {
	  font-size: 20px;
	}
	.pricing-grid:nth-child(3) {
		display: none;
	}
	.pricing-grid {
		width: 47%;
	}
	.pricing-grid:nth-child(2) {
	  margin: 0 0 0 1em;
	}
	.hover a {
	  font-size: 11px;
	  padding: 4px 12px;
	}
	.portfolio-info h3 {
	  font-size: 20px;
	}
	#portfoliolist .portfolio {
	  margin: 1.5em 1em 0;
	}
	.portfolio-wrapper h4 {
	  font-size: 13px;
	}
	.portfolio-wrapper p.parag {
	  font-size: 13px;
	  overflow: hidden;
	  height: 16px;
	}
	.team h3 {
	  font-size: 20px;
	}
	.team-fig span {
	  background: url(../images/10.png) no-repeat 0px 0px;
	}
	.team-fig1 span {
	  background: url(../images/9.png) no-repeat 0px 0px;
	}
	.team-fig span:hover {
	  background: url(../images/glasses.png) no-repeat 0px 0px;
	}
	.team-fig1 span:hover {
	  background: url(../images/glasses.png) no-repeat 0px 0px;
	}
	.team-grid h4 {
	  font-size: 18px;
	  margin: .5em 0 0em;
	}
	.team-grid p.paragra {
	  font-size: 13px;
	}
	.team-grid p {
	  overflow: hidden;
	  height: 32px;
	  margin: 0;
	}
	.testimonials h3 {
	  font-size: 20px;
	}
	.testimonials-grid:nth-child(3) {
		display: none;
	}
	.testimonials-grid {
		width: 31%;
	}
	.testimonials-fig span {
	  background: url(../images/13.png) no-repeat 26px 0px;
	}
	.testimonials-fig1 span {
	  background: url(../images/14.png) no-repeat 17px 0px;
	}
	.testimonials-fig3 span {
	  background: url(../images/16.png) no-repeat 24px 0px;
	}
	.testimonials-slide-fig img {
		width: 35%;
	}
	.testimonials-slide-fig p.pa {
	  width: 100%;
	  font-size: 14px;
	}
	.testimonials-slide-fig p.pa:before{
		display:none;
	}
	.testimonials-slide-fig p.pa:after{
		display:none;
	}
	.contact h3 {
	  font-size: 20px;
	}
	.contact-grid {
	  float: none;
	  width: 50%;
	  text-align: center;
	  margin: 0 auto;
	}
	.contact-grid:nth-child(2) {
	  margin: 1em auto;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
	  width: 100%;
	}
	.contact-contact input[type="text"]:nth-child(2) {
		margin: 1em auto;
	}
	.contact-contact input[type="text"], .contact-contact textarea {
		padding: 7px 20px;
	}
	.contact-contact textarea {
		height: 145px;
	}
	.footer h3 {
	  font-size: 20px;
	}
	.footer-contact input[type="text"] {
		padding: 8px 13px;
	}
	.footer-contact input[type="submit"] {
		padding: 5px 0;
	}
	.footer-contact {
	  margin: 0 auto 2em;
	}
	button.navig {
	  top: 6.5%;
	}
}
/*-- //responsive-media --*/