#popup_contents div.input select {
	background: #777;
	border: 1px solid #999;
	font-family: Arial;
	font-size: 9pt;
	font-weight: 400;
}

#table_grid tr th {
	background: linear-gradient(top,#767272);
	background: -moz-linear-gradient(top,#767272);
	background: -webkit-gradient(linear,left);
	background: -webkit-linear-gradient(top,#767272);
	background: -o-linear-gradient(top,#767272);
	background: -ms-linear-gradient(top,#767272);
	background: linear-gradient(top,#767272);
	background: -moz-linear-gradient(top,#767272 0%,#272828 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#767272),color-stop(100%,#272828));
	background: -webkit-linear-gradient(top,#767272 0%,#272828 100%);
	background: -o-linear-gradient(top,#767272 0%,#272828 100%);
	background: -ms-linear-gradient(top,#767272 0%,#272828 100%);
	background: linear-gradient(top,#767272 0%,#272828 100%);
	border-color: #c5c5c5;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	color: #e6e6e6;
	font-family: arial;
	font-size: 9pt;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

#table_grid tr td {
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	font-family: arial;
	font-size: 9pt;
}

#table_grid span.check {
	background: url(themes/dark/images/objects.png) no-repeat;
	background-position: -8px -249px;
}

#table_grid span.list {
	background: url(themes/dark/images/objects.png) no-repeat;
	background-position: -8px -320px;
}

#table_grid form.cell_editor_form {
	border-width: 0;
}

#table_grid tr td input.cell_editor {
	background: #fff;
	border: 1px solid #888;
	box-shadow: 0 0 3px #777;
	color: #131313;
	font-family: arial;
	font-size: 10pt;
	font-weight: 400;
}

#table_grid select.cell_combo {
	border: 1px solid #888;
	box-shadow: 0 0 3px #777;
	color: #131313;
	font-family: arial;
	font-size: 10pt;
	font-weight: 400;
}

#grid-messages {
	color: green;
	font-family: tahoma;
	font-size: 8pt;
	font-weight: 700;
}

#dialog-list select {
	background: #777;
	font-family: arial;
	font-size: 9pt;
	font-weight: 400;
}

#popup_contents .error {
	background-color: #fcccf1;
}

#table_grid td.current {
	background-color: #444;
}

#grid-messages.error {
	color: red;
}

#popup_contents div.input option {
	font-family: Arial;
	font-size: 10pt;
	font-weight: 400;
}

#table_grid tr td span {
	font-family: arial;
	font-size: 9pt;
}

#dialog-list select option {
	font-family: arial;
	font-size: 9pt;
	font-weight: 400;
}

#dialog-list input[type=text] {
	font-family: arial;
	font-size: 9pt;
	font-weight: 400;
}