/*修改代码高亮*/
.hljs {
	display: block;
	overflow-x: auto;
	color: #525252;
	padding: 15px;
	-webkit-text-size-adjust: none
}

.hljs-doctype {
	color: #999
}

.hljs-tag {
	color: #3e76f6
}

.hljs-attribute {
	color: #e96900
}

.hljs-value {
	color: #42b983
}

.hljs-keyword {
	color: #e96900
}

.hljs-string {
	color: #42b983
}

.hljs-comment {
	color: #b3b3b3
}

.hljs-operator .hljs-comment {
	color: #525252
}

.hljs-regexp {
	color: #af7dff
}

.hljs-built_in {
	color: #2db7f5
}

.css .hljs-class {
	color: #e96900
}

.css .hljs-number,
.javascript .hljs-number {
	color: #fc1e70
}

.css .hljs-attribute {
	color: #af7dff
}

.css .hljs-important {
	color: red
}

.actionscript .hljs-literal,
.javascript .hljs-literal {
	color: #fc1e70
}

pre {
	padding: 0;
	margin: 0
}

code {
	display: inline-block;
	background: #f7f7f7;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	margin: 0 3px;
	padding: 1px 5px;
	border-radius: 3px;
	color: #666;
	border: 1px solid #eee
}

pre code {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent
}

pre.bg code {
	background: #f7f7f7
}



/*修改大体样式*/

.markdown-body{
	font-size: 14px!important;
	color: #495060!important;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif!important;
	line-height: 30px!important;
}
.markdown-body h4{
	font-size: 18px!important;
}
.markdown-body h5{
	font-size: 16px;
}
.markdown-body hr{
	margin: 10px 0;
	height: 1px;
	background-color: #E1E4E8;
	border: 0;
}
.hljs-comment, .hljs-quote{
	font-style: normal!important;
}
.markdown-body table th, .markdown-body table td{
	font-size: 12px;
	line-height: 30px;
}

.markdown-body .highlight pre, .markdown-body pre{
	font-size: 100%!important;
}
.doc-nav ul.menus > li.menu > a, .doc-nav ul.menus > li.menu > h2{
	color: #3399FF;
}
.doc-nav{
	padding-left: 10px;
}




/*以下移动端CSS*/
.doc_navtop {
	background: #F6F7F8;
	padding: 15px;
	display: none;
}
.doc_navtop .nav_bar{
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color: #3399FF;
	position: relative;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.doc_navtop .nav_bar em{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/nav_bar.png) no-repeat 0 center;
	position: absolute;
	top: 0;
	left: 0;
}


.doc-nav .menu_top{
	display: none;
}


.clear{
	clear: both;
}
.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}


@media screen and (min-width:320px) and (max-width:730px){
	html,
	body{
		background: #F6F7F8;
		overflow: hidden;
		/*-webkit-overflow-scrolling: touch;*/
	}
	body *{
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.doc_navtop{
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.doc-content{
		width: 100%;
		left: 0;
		right: 0;
		top: 0px;
		padding-left: 0;
		border: 0;
		transition: all .15s ease-in-out;
		padding-top: 60px;
		-webkit-overflow-scrolling: touch;
	}
	.doc-nav{
		width: 300px;
		
		left: -300px;
		padding-left: 0;
		overflow: inherit;
		padding-top: 60px;
	}
	.doc-nav .menu_top{
		display: block;
		position: absolute;
		background: #fff;
		padding: 10px 0 10px 10px;
		/*border: 1px solid red;*/
		width: 100%;
		top: 0px;
		left: 0;
	}
	.doc-nav .menu_top img{
		display: block;
		width: 40px;
		float: left;
	}
	.doc-nav .menu_top span{
		display: block;
		font-size: 14px;
		float: left;
		padding-left: 20px;
		line-height: 40px;
		text-decoration: underline;
	}
	.doc-nav .menus{
		background: #fff;
		height: 100%;
		/*margin-top: 20px;*/
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.doc-header{
		background-color: #F6F7F8;
		padding: 0;
		display: none;
		height: 100%;
	}
	.doc-header h1.logo{
		display: block;
		text-align: center;
	}
	.doc-header h1.logo > a{
		display: block;
		line-height: 20px;
		padding: 140px 0 50px 0;
	}
	.doc-header h1.logo > a::before{
		width: 60px;
		height: 60px;
		left: 50%;
		top: 50%;
		margin: -50px 0 0 -30px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.doc-tab{
		float: none;
	}
	.doc-tab ul.tabs {
		width: 70%;
		margin: auto;
		/*border: 1px solid red;*/
	}
	.doc-tab ul.tabs > li.tab{
		display: block;
		background: #fff;
		border-radius: 3px;
		margin-bottom: 20px;
	}
	
	.doc-tab ul.tabs > li.tab > a{
		border: 0!important;
		line-height: 60px;
		padding: 0;
		text-align: center;
		font-size: 16px;
	}
}
/*修改滚动条样式*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px;
}
::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}