<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2017-03TNow">
                        <span>03
                            <strong class="text-upper">2017</strong> -
                            <strong>现在</strong>
                        </span>
                    </time>
                    <h3>PHP开发工程师</h3>
                    <span class="education-company">北京网家科技有限公司 | 东易日盛集团</span>
                    <p>使用技术为Laravel5, Thrift, Golang, Swoole等等</p>
                    <p>使用Go开发行业爬虫工具,抓取楼盘120W,抓取装修公司30W</p>
                    <p>参与大数据平台UGC模块开发,参与公司《装修宝》的后端接口开发</p>
                    <p>公司项目家具在线工程工地,装修公司,线索收集模块开发</p>
                    <p>使用Swoole和Thrift改善Laravel5,使API接口均值提高三倍</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>05
                            <strong class="text-upper">2015</strong> - 03
                            <strong>2017</strong>
                        </span>
                    </time>
                    <h3>PHP开发工程师</h3>
                    <span class="education-company">微信海 | 极欧科技</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>01
                            <strong class="text-upper">2014</strong> - 04
                            <strong>2015</strong>
                        </span>
                    </time>
                    <h3>PHP开发工程师 & 互联网项目负责人</h3>
                    <span class="education-company">郑州大道技术有限公司</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .section -->