<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Jan <strong class="text-upper">2016</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">央企ERP项目 | 大连IBM</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sep <strong class="text-upper">2014</strong> - Jan <strong>2016</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">日本本田项目 | 大连IBM</span>
                    <p>使用技术为struts, hibernate, spring等等</p>
                    <p>负责项目中服务开发</p>
                    <p>参与部分需求调研</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->