<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="/jianli/styles/img/PMP.png" alt="">
                </figure>

                <h3 class="award-title">PMP</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="/jianli/styles/img/udemy.png" alt="">
                </figure>

                <h3 class="award-title">Udemy</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->