<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="/jianli/styles/img/school.jpg" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>大连外国语大学</strong>
                        <span>2010 - 2014 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，并获得国家励志奖学金3次，一等奖学金2次，大连市三好学生。
                        </p>
                        <p>作为班级团支书，多次组织班级活动。 作为学生会外联部部长，多次联合校外企业赞助学校活动。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->