<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>女</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>09 Jan 1991</dd>

                <dt class="text-upper">手机</dt>
                <dd>1580424XXXX</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:xxxx@xx.com">xxxx@xx.com</a></dd>

                <dt class="text-upper">英语</dt>
                <dd>CET-6</dd>

                <dt class="text-upper">日语</dt>
                <dd>一级</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->