<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/webssh/static/css/layui.css">
    <link rel="stylesheet" href="/webssh/static/css/admin.css">
    <title>管理后台</title>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- <div class="layui-header custom-header">
            
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item slide-sidebar" lay-unselect>
                    <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" onclick="logout()">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div> -->

        <div class="layui-side custom-admin">
            <div class="layui-side-scroll">

                <!-- <div class="custom-logo">
                    <img src="/webssh/static/images/logo.png" alt=""/>
                    <h1>Admin Pro</h1>
                </div> -->
                <ul id="Nav" class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe609;</i>
                            <em>主页</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/servers">控制台</a></dd>
                        </dl>
                    </li>
                </ul>

            </div>
        </div>

        <div class="layui-body" style="top: 0;">
             <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
                <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
                <div id="appTabPage" class="layui-tab-content"></div>
            </div>
        </div>

        <div class="mobile-mask"></div>
    </div>
    <script src="/webssh/static/layui.js"></script>
    <script src="/webssh/static/js/index.js?v=1.91" data-main="home"></script>
    <script>
        logout = function () {
            window.localStorage.clear();        //清空浏览器缓存
            if (window != top) {
                top.location.href = "/login";
            }
            window.location.href = "/login";
        }
    </script>
</body>
</html>