<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SSH云管理平台登录</title>
    <link rel="stylesheet" href="/webssh/static/css/tailwind.min.css">
</head>

<body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center dlbox">
    <div class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1">
        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
            <div class="mt-12 flex flex-col items-center">
                <h1 class="text-2xl xl:text-3xl font-extrabold">SSH云管理</h1>
                <div class="w-full flex-1 mt-8">

                    <div class="my-12 border-b text-center">
                        <div class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">使用手机验证码进行登录/注册</div>
                    </div>

                    <div class="mx-auto max-w-xs">
                        <input id="phone" class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="number"  value="17610053500" placeholder="手机号" />
                        <div>
                            <input id="code" style="width: 11.7rem;margin-right: 1.3rem" class="w-7/12 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5" type="number" value="17610053500" placeholder="验证码" />
                            <button onclick="send()" id="send" style="width: 6.2rem;" class="mt-5 tracking-wide font-semibold bg-gray-700 text-gray-100 w-4/12 py-4 rounded-lg hover:bg-gray-500 ease-in-out items-center justify-center focus:shadow-outline focus:outline-none">发送</button>
                        </div>
                        <button onclick="login()" class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <span class="ml-3">登 录</span>
                        </button>
                        <p class="mt-6 text-xs text-gray-600 text-center" onclick="showproto()" style="cursor: pointer">查看服务协议</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
            <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('/webssh/static/images/dlbox.svg');"></div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
<script src="/webssh/static/js/net.js"></script>
<script src="/webssh/static/js/main.js"></script>
<script>
    var index = layer.load(0, {shade: [0.1,'#fff']});
    document.onreadystatechange = completeLoading;
    //加载状态为complete时移除loading效果
    function completeLoading() {
        console.log("Loading Success")
        if (document.readyState == "complete") {
            layer.close(index);
        }
    }
</script>
</html>