ul.dropdown {
	cursor: default;
	position: relative;
}
ul.dropdown li {
	float: left;
	list-style: none;
	margin: 1px 0;
	padding: 0;
	zoom: 1;
}
ul.dropdown li.right {
	float: right;
}
ul.dropdown li a {
	display: block;
	line-height: 13px;
	padding: 4px 7px;
	text-decoration: none;
}
ul.dropdown li.hover, ul.dropdown li:hover {
	position: relative;
}
ul.dropdown > li:hover:after {
	bottom: -1px;
	content: "-----";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
}
ul.dropdown ul {
	left: -1px;
	list-style: none;
	padding: 2px;
	position: absolute;
	top: 100%;
	visibility: hidden;
}
ul.dropdown ul li {
	cursor: pointer;
	float: none;
	margin: 0;
}
ul.dropdown ul li a {
	display: inline-block;
	padding: 5px 5px 5px 32px;
	text-decoration: none;
	white-space: nowrap;
	width: 100%;
}
ul.dropdown ul ul {
	left: 100%;
	top: 0;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}
ul.dropdown li.separator, ul.dropdown li.separator:hover {
	display: block;
	margin: 0;
	padding: 0 5px 0 33px;
}
ul.dropdown a:focus {
	outline: 0;
}
ul.context {
	padding: 2px;
	position: relative;
}
ul.context li {
	display: block;
	float: none;
	margin: 0;
	min-width: 120px;
	padding: 0;
}
ul.context > li:hover:after, ul.dropdown li.right:hover:after {
	height: 0;
}
ul.context li a {
	display: inline-block;
	padding: 5px 5px 5px 32px;
	text-decoration: none;
	white-space: nowrap;
	width: 100%;
}
ul.context ul {
	left: 150px;
	top: 0;
}
ul#menu-language {
	width: 410px;
}
ul#menu-language li {
	float: left;
	width: 125px;
}
ul.dropdown li a.ilgout {
	padding-left: 26px;
}
