* { box-sizing: border-box; }

body {
	color: $color__gray;
	font-family: $font;
	font-size: 16px;
	background: #fff;
	border-top:2px solid $color__custom;
	//background: $color__salmon;
	//padding-top: 10px;
}

h1, h2, h3, h4 {
	-webkit-font-smoothing: antialiased;
	font-family: $font_headline;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

a {
	color: $color__darker_salmon;
	text-decoration: none;
}
a:hover {
	color: $color__darkest_salmon;
}

h1 {
	font-size: 38px;
	font-weight: 200;
}

p {
	line-height: 1.5;
	margin: 10px 0 20px;
	strong { -webkit-font-smoothing: antialiased; }
}

.contain {
	max-width: 880px;
	margin: 0 auto;
}

p code {
	background: $color__faint;
	color: $color__salmon;
	padding: 1px 5px;
	border-radius: 3px;
}

code, kbd, pre, samp {
	font-family: source-code-pro, monospace;
	font-size: 14px;
}

blockquote {
	background: #fbfbfd;
	color: $color__gray;
	border-radius: 0;
	margin: 10px 0 20px;
	padding: 10px 15px;
	border-left: 3px solid lighten(#718096, 10%);

	p:last-child { margin: 0; }
}
blockquote p{
	font-size:13px!important;
}

.items-wrapper {
	@include clearfix;
	margin: 0 -15px 30px -15px;
}

.third {
	position: relative;
	min-height: 1px;
	margin-right: 15px;
	margin-left: 15px;
	flex-basis: 33.333333%;
}

.text-primary {
	color: $color__salmon;
}


@media all and (max-width: 800px) {
	.third {
		flex-basis: 100%;
	}
}
