
$color__salmon:         #5c6bc6;
$color__darker_salmon:  darken($color__salmon, 10%);
$color__darkest_salmon: darken($color__salmon, 15%);
$color__red:            #f4645f;
$color__blue:           #007ee5;
$color__darker_blue:    #1867c0;
$color__green:          #21b978;
$color__yellow:         #f7db60;
$color__faint:          #f0f2f1;
$color__gray:           #414750;
$color__text:           #525252;
$color__light_gray:     #7c858e;
$color__lighter_gray:   #dee0df;
$color__teal:           #27b4a8;
$color__custom:         #59a9f8;
$color__info:           lighten(#64B5F6, 5%);
$color__danger:         #e57373;
$color__code__bg:       lighten(#f7f7f9, 1%);

$banner_background: linear-gradient(-135deg, #8649D6 0, #2791D2 100%);

$shadow: 0 2px 4px 0 rgba(0,0,0,.08);
$shadow-100: 0 3px 1px -2px rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 1px rgba(0,0,0,.05);
$shadow-200: 0 3px 1px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1), 0 1px 5px 1px rgba(0,0,0,.1);

// Fonts //

$font_headline: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
$font:          -apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Roboto","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
//$font_alt:              'Miriam Libre', sans-serif;
$font_alt:      Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
$font_code:     'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;
