{{.DataGrid}}

<div id="content_newslist_datagrid_toolbar" style="padding:1px;height:auto">
    <form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px;">
        标题:
        <input type="text" name="search[title]" style="width:100px;padding:2px"/>
        时 间: <input name="search[begin]" class="easyui-datebox" style="width:100px">
        至: <input name="search[end]" class="easyui-datebox" style="width:100px">

        <a href="javascript:;" onclick="contentNewsListDatagridSearch(this)" class="easyui-linkbutton"
           iconCls="icons-map-magnifier">搜索</a>
    </form>

    <div>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add'"
           onclick="contentNewsListAdd()">添加</a>
    </div>
</div>

<script type="text/javascript">
    var content_newslist_datagrid_id = 'category_categorylist_datagrid';
    //排序格式化
    function contentNewsListOrderFormatter(val, arr) {
        return '<input class="content_gridlist_order_input" type="text" name="order[' + arr['id'] + ']" value="' + val + '" size="2" style="text-align:center">';
    }
    //时间格式化
    function contentNewsListTimeFormatter(val, arr) {
        return val === '1970-01-01 08:00:00' ? arr['inputtime'] : val;
    }

    //操作格式化
    function contentNewsListOperateFormatter(id) {
        var btn = [];
        btn.push('<a href="javascript:;" onclick="contentNewsListEdit(' + id + ')">修改</a>');
        btn.push('<a href="javascript:;" onclick="contentNewsListDelete(' + id + ')">删除</a>');
        return btn.join(' | ');
    }

    function getPwdTypeFormatter(type) {
        return type == 2 ? "直接获取" : '公众号获取';
    }

    //搜索
    function contentNewsListDatagridSearch(that) {
        var content_datagrid = $('#' + content_newslist_datagrid_id);
        var queryParams = content_datagrid.datagrid('options').queryParams;
        $.each($(that).parent('form').serializeArray(), function () {
            queryParams[this['name']] = this['value'];
        });
        content_datagrid.datagrid('reload');
    }
    //添加
    function contentNewsListAdd() {
        var url = "/b/content/add?catid={{.catid}}";
        ajaxLoading()
        contentMainOpenUrl(url, true);
    }
    //编辑
    function contentNewsListEdit(id) {
        if (typeof(id) !== 'number') {
            $.messager.alert('提示信息', '未选择数据', 'error');
            return false;
        }
        var url = "/b/content/edit?catid={{.catid}}";
        url += '&id=' + id;
        ajaxLoading()
        contentMainOpenUrl(url, true);
    }

    //删除
    function contentNewsListDelete(id) {
        var ids = [];
        if (!id) {
            var obj = $('#' + content_newslist_datagrid_id).datagrid('getSelections');
            if (obj) for (var i = 0; i < obj.length; i++) ids.push(obj[i].id);
        } else {
            if (typeof(id) === 'number') ids.push(id);
        }
        if (ids.length === 0) {
            $.messager.alert('提示信息', '未选择数据', 'error');
            return false;
        }
        $.messager.confirm('提示信息', '确定要删除吗？', function (result) {
            if (!result) return false;
            $.post("/b/content/delete?catid={{.catid}}", {ids: ids.join(',')}, function (res) {
                if (res.errcode) {
                    $.messager.alert('提示信息', res.errmsg, 'error');
                } else {
                    $.messager.alert('提示信息', res.errmsg, 'info');
                    $('#' + content_newslist_datagrid_id).datagrid('reload');
                }
            }, 'json');
        });
    }
    //排序
    function contentNewsListOrder() {
        $.post("/b/content/order_news?catid={{.catid}}'", $('.content_gridlist_order_input').serialize(), function (res) {
            if (res.errcode) {
                $.messager.alert('提示信息', res.errmsg, 'error');
            } else {
                $.messager.alert('提示信息', res.errmsg, 'info');
                $('#' + content_newslist_datagrid_id).datagrid('reload');
            }
        }, 'json');
    }

</script>