<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="author" content="wangdong">
    <title>视频资源发布</title>
    <style>
        .dialogtable {
            width: 100%;
        }

        .dialogtable td {
            border-width: 0 1px 1px 0;
            border-style: dotted;
            border-color: #ccc;
            /*margin: 0;*/
            padding: 3px;
        }

        #tags_tagsinput {
            margin-left: 8px;
        }

        input {
            max-width: 450px;
            padding: 3px;
            margin: 8px;
            height: 25px;
        }
    </style>
{{template "backend/public_javascript.html"}}
{{template "backend/public_umeditor.html"}}
    <link rel="stylesheet" type="text/css" href="/backend/static/jquery.tagsinput.css"/>
    <script src="/backend/static/jquery.tagsinput.js"></script>
    <script src="/backend/static/jquery.upload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/localization/messages_zh.js"></script>
</head>
<body>
<form id="content_page_form" onsubmit="return false">
    <input type="hidden" name="id" value="{{.content.Id}}" required/>
    <table width="100%" cellpadding="2" class="dialogtable">
        <tr>
            <td align="right"><span style="color: red">* </span>视频标题：</td>
            <td colspan="2"><input type="text" name="title" value="{{.content.Title}}" style="width:100%" minlength="6" required/></td>
        </tr>
        <tr>
            <td align="right">所属分类：</td>
            <td colspan="2"><input type="text" value="{{.category.Catname}}" style="width:100%" readonly/><input
                    type="hidden" name="catid" value="{{.category.Catid}}" required style="width:100%"/></td>
        </tr>

        <tr>
            <td align="right"><span style="color: red">* </span>缩略图：</td>
            <td colspan="2">
                <input id="content_add_news_form_thumb_input" type="image" src="{{.content.Thumb}}"
                       alt="点击上传缩略图"
                       style="width:200px;height:250px;display:block;border:1px solid #ddd;padding:2px;background: url(/backend/static/nopic.jpg); background-size: 100% 100%;"/>
                <input type="hidden" name="thumb" value="{{.content.Thumb}}" required/>
            </td>
        </tr>

        <tr>
            <td align="right">视频标签：</td>
            <td colspan="2"><input type="text" id="tags" name="tags" value="{{.content.Tags}}" /></td>
        </tr>

        <tr>
            <td align="right"><span style="color: red">* </span>资源地址：</td>
            <td colspan="2"><input type="text" name="source_url" value="{{.content.SourceUrl}}" style="width:100%" required url="true"/></td>
        </tr>


        <tr>
            <td align="right">获取密码方式：</td>
            <td colspan="2">
                <input type="radio" name="pwd_type" value="1" style="vertical-align: middle" {{if eq .content.PwdType 1 }}checked{{end}}> 公众号获取<br/>
                <input type="radio" name="pwd_type" value="2" style="vertical-align: middle" {{if eq .content.PwdType 2 }}checked{{end}}> 付费直接显示
            </td>
        </tr>

        <tr>
            <td align="right"><span style="color: red">* </span>下载密码：</td>
            <td colspan="2"><input type="text" name="source_pwd" value="{{.content.SourcePwd}}" style="width:100%"  required /></td>
        </tr>

        <tr>
            <td align="right"><span style="color: red">* </span>简介内容：</td>
            <td colspan="2">
                <textarea id="content_page_form_textarea_editor" name="content"
                          style="width:90%;height:360px" required>{{.content.Content}}</textarea>
            </td>
        </tr>

        <tr>
            <td align="right">资源积分：</td>
            <td colspan="2"><input type="text" name="money" value="{{.content.Money}}" style="width:100%" placeholder="密码为直接显示时必须填写" number="true" required="input[name='pwd_type'][value=2]:checked"/> 会员上传资源需要按比例扣除积分归平台所有</td>
        </tr>

        <tr>
            <td colspan="3"><a class="easyui-linkbutton" onclick="$('#content_page_form').submit()">提交</a></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    UM.getEditor('content_page_form_textarea_editor');
    parent.ajaxLoadEnd();
    $('#tags').tagsInput({
        'height': '50px', //设置高度
        'width': '446px',  //设置宽度
        'interactive': true, //是否允许添加标签，false为阻止
        'defaultText': '添加标签', //默认文字
        onChange: function (tag) {
            console.log(arguments)
        },
        'placeholderColor': '#666666' //设置defaultText的颜色
    });
    $.validator.setDefaults({
        submitHandler: function () {
            contentPageFormSubmit()
        }
    });
    $("#content_page_form").validate();

    function contentPageFormSubmit() {
        $.post('/b/content/edit?catid={{.category.Catid}}&id={{.content.Id}}', $("#content_page_form").serialize(), function (res) {
            if (res.errcode) {
                parent.$.messager.alert('提示信息', res.errmsg, 'error');
            } else {
                parent.$.messager.alert('提示信息', res.errmsg, 'info');
                parent.contentMainOpenUrl("/b/content/news-list?catid={{.category.Catid}}")
            }
        });
        return false;
    }

    $('#content_add_news_form_thumb_input').click(function (e) {
        e.preventDefault();
        doUpload();
        return false;
    });

    /*文件上传*/
    function doUpload() {
        $.upload({
            url: "/public/upload",
            fileName: 'filedata',
            params: {},
            dataType: 'json',
            onSend: function () {
                return true;
            },
            onComplate: function (data) {
                if (!data.errcode) {
                    $("#content_add_news_form_thumb_input").attr('src', data.errmsg);
                    $("#content_add_news_form_thumb_input").next('input:hidden').val(data.errmsg);
                } else {
                    parent.$.messager.alert('提示信息', data.errmsg, 'error');
                }
            }
        });
    }
</script>


</body>
</html>