<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .site.name }} 的简历</title>

    <!-- Icon Fonts -->
    <link href="/resume/styles/fonts/icomoon/style.css" rel="stylesheet">

    <!-- Styles -->
    <link href="/resume/styles/js/plugins/highlight/solarized-light.css" rel="stylesheet">
    <link href="/resume/styles/css/style.css" rel="stylesheet">

    <!-- Modernizer -->
    <script type="text/javascript" src="/styles/js/vendor/modernizr-3.3.1.min.js"></script>
</head>