<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网站后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/backend/mdou/css/style.css"/>
    <script type="text/javascript" src="/backend/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/backend/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/backend/static/js/jquery.json.min.js"></script>
    <script type="text/javascript" src="/backend/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/backend/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/backend/static/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/backend/static/js/easyui/themes/metro/easyui.css" title="metro" />
    <link rel="stylesheet" type="text/css" href="/backend/static/css/admin/metro.css" title="metro" />
</head>
<body class="login">
<div class="login_left"><span></span></div>
<div class="login_main">
    <div class="login_main_logo" ></div>
    <div class="login_main_section " >
        <form id='form' method="post">
            <ul>
                <li class="username">
                    <span></span>
                    <input type="text" class="name" name="username" placeholder="请输入用户名" id="username" />
                </li>
                <li class="userpwd">
                    <span></span>
                    <input type="password" class="pwd" name="password"  placeholder="请输入密码" id="password" />
                </li>
                <li class="number">
                    <input type="text"  placeholder="请输入验证码" class="number"  name="code" id="code" size="4"/>
                    <img src="/public/verify-code"
                         id="code_img" class="img" onclick="changeCode()"/>
                    <a href="javascript:;" onclick="changeCode()" class="click">换一换</a>
                </li>
                <li class="btn">
                    <input type="button" value="登 录" id="submit" class="btn" style="background: rgb(73,137,205);"/>
                </li>
            </ul>
        </form>
    </div>
</div>
<script>
    var changeCode = function () {
        var that = document.getElementById('code_img');
        that.src = that.src + "?" + Math.random();
    }
    $(function(){
        $("#submit").click(function (){
            if(!$('#username').val()){
                $.messager.alert('提示信息', '请填写用户名', 'error');
                return false;
            }
            if(!$('#password').val()){
                $.messager.alert('提示信息', '请填写密码', 'error');
                return false;
            }
            if(!$('#code').val()){
                $.messager.alert('提示信息', '请填写验证码', 'error');
                return false;
            }

            $.post('/b/login/index', $("#form").serialize(), function(data){
                if(data.errcode){
                    $.messager.alert('提示信息', data.errmsg, 'error');
                    changeCode();
                }else{
                    $.messager.progress({text:'加载中，请稍候...'});
                    window.location.href = "/b/index/index";
                }
            },'json');
        });
    })

</script>
</body>
</html>
